[2018-12-27 11:38] Naoray opened #3 "Showing media library field on forms"
First of all: Thanks for this field :)!!

Regarding my issue:
`Medialibrary field is shown only on index and details views. If there is any reason to show it on forms, let me know.`

=> it is confusing to have to click on the detail view in order to edit media fields on a resource...

It would feel so much more intuitive to just be able to click on the edit btn and be able to edit/add media files.

[2018-12-27 11:48] dmitrybubyakin commented on #3
@Naoray What if you would use the HasMany field? There would be a table with media on the detail view. So `Medialibrary` field allows you display your media files in a field instead of a panel with table (it's like on index view).

[2018-12-27 12:02] Naoray commented on #3
Not sure if I get it. So you are saying using hasMany results in the same as using the medialibrary field, because both require to view the detail view in order to edit those?

[2018-12-27 12:03] dmitrybubyakin commented on #3
@Naoray Yes.

[2018-12-27 12:34] Naoray commented on #3
true that

[2018-12-27 12:34] #3 closed

[2018-12-30 21:37] austinkregel opened #6 "The upload button isn't enabled"
Hia! I just installed this package on my installation of nova, and when I tried to upload a photo the upload button isn't enabled.

<img width="602" alt="screen shot 2018-12-30 at 4 35 08 pm" src="https://user-images.githubusercontent.com/5355937/50551583-183c4c80-0c51-11e9-8eab-c364622f6ceb.png">

It seems like it just needs to recompiled or something, but I'm not totally sure. I also don't see a

[2018-12-30 21:42] dmitrybubyakin commented on #6
@austinkregel What is your browser?

[2018-12-30 21:42] austinkregel commented on #6
I use Google Chrome

[2018-12-30 21:44] austinkregel commented on #6
I just checked on safari and it doesn't work there either.

[2018-12-30 21:50] austinkregel commented on #6
From the look of it all the package seems to be missing the `vue-progress-button` package, and some stiles on the button.

[2018-12-30 21:53] dmitrybubyakin commented on #6
@austinkregel `progress-button` is a nova component which is globally registered

[2018-12-30 21:55] austinkregel commented on #6
Oh okay 🤔
@dmitrybubyakin which version of Nova are you developing with? I could have an older version

[2018-12-30 21:57] dmitrybubyakin commented on #6
@austinkregel I am developing with the latest version of Nova

[2018-12-30 22:01] austinkregel commented on #6
🤔 Interesting, that seems to be the issue. I wonder which version added the `progress-button`, if you happen to find out can you add that information to your readme 😄

[2018-12-30 22:02] #6 closed

[2018-12-30 22:07] dmitrybubyakin commented on #6
@austinkregel The `progress-button` component has been added in v1.2.0. I think, you can define your own `progress-button` component and this is going to work.

[2018-12-30 22:50] austinkregel commented on #6
I ultimately upgrade to the latest version of Nova to make sure that it's all going to work 😄thanks for helping me figure out this silly issue 😂

[2019-01-02 06:25] slion0725 opened #7 "Global Search : Class name must be a valid object or a string"
version: 1.1.0
nova version: 1.2.1

Global Search  got message "Class name must be a valid object or a string"

[2019-01-02 08:34] #7 closed

[2019-01-16 16:14] acstll opened #10 "Undefined `registerMediaCollections` method is called on related resources"
Hi there!

I got this issue, I'm not sure the problem is in this package, or in `spatie/laravel-medialibrary` (or even Nova itself)… I'm trying here first.

I'm getting a `Call to undefined method App\{Model}::registerMediaCollections()` error when I try to create or edit a resource that is related to another one that uses Medialibrary. Let me explain:

- There's model `Foo`, which uses Medialibra

[2019-01-16 20:17] #10 closed

[2019-01-16 20:18] dmitrybubyakin commented on #10
@acstll Fixed. Thank you for pointing this out.

[2019-01-20 15:07] vrtxims commented on #10
@dmitrybubyakin Thank you!

[2019-01-28 14:07] rapitkan opened #12 "Indicate boolean values by framing the photo"
It would be really nice if a photo could be framed with certain color depending on the boolean values of the photo.

**Example:**

There's an 'alert' property in custom_properties and a user needs to know which photos have alert: true. At the moment the only way to find it out is to open the pop-up of every photo one by one. It's a time consuming task and the user might not remember the photos tha

[2019-01-28 14:50] dmitrybubyakin commented on #12
I'll do something like this.

![](https://cdn.discordapp.com/attachments/535468360956248069/539455970234073128/unknown.png)

[2019-01-29 10:19] etenzy opened #13 "Renaming files does not work"
When the file_name attribute gets edited in nova the file itself doesn't get renamed. This causes errors, because medialibrary can't find a file with the expected name.

[2019-01-29 10:37] dmitrybubyakin commented on #13
@etenzy Hi. What version of `spatie/laravel-medialibrary` are you using?

[2019-01-29 10:39] dmitrybubyakin commented on #13
@etenzy Could you provide more information?

[2019-01-29 12:24] etenzy commented on #13
laravel/framework: v5.7.21
spatie/laravel-medialibrary: 7.5.5
dmitrybubyakin/nova-medialibrary-field: 1.1.4

Causing at the "Edit Media" Dialog

[2019-01-29 12:30] dmitrybubyakin commented on #13
This library just changes the `file_name` attribute. File should be renamed automatically. https://github.com/spatie/laravel-medialibrary/blob/master/src/MediaObserver.php#L20

[2019-01-29 12:54] etenzy commented on #13
I've extended the original model.

When i choose files and hit upload the observers works properly.
POST nova-vendor/dmitrybubyakin/nova-medialibrary-field/store

In the Edit Media dialog the observers are not executed.
PUT nova-api/{resource}/{resourceId}

[2019-01-29 15:14] etenzy commented on #13
That worked, Thank you!

the requirement of an custom media resource when using a custom, or extended model should be in the docs (just a suggestion)

[2019-01-29 15:15] #13 closed

[2019-01-29 16:03] rapitkan opened #14 "File null was uploaded!"
If the uploaded file doesn't have a title the message after upload action is: "File null was uploaded!"

The better message on the situation like that would be "The file was uploaded!"

[2019-02-01 09:46] #12 closed

[2019-02-01 09:47] dmitrybubyakin commented on #14
@rapitkan Couldn't reproduce that.

[2019-02-10 12:36] webappbuilder opened #17 "Doesn't work with STI(Single Table Inheritance) parent model"
I use https://github.com/tightenco/parental package for STI models. For ex., i have App\Models\Content\Header model which extends App\Models\Content\Content basic one. I try attach file to Header Resource (with Header model defined). While processing upload i get message: Call to undefined method App\Models\Content\Content::registerAllMediaConversions(). But i deal with Header model, not STI paren

[2019-02-11 05:19] dmitrybubyakin commented on #17
@webappbuilder Hi. Are you using the `spatie/laravel-medialibrary`? Could you show your model code?

[2019-03-12 18:23] mauricehofman opened #18 "Media form field when creating a resource"
It would be nice to have a media field in the form when creating a new resource. Its a bit counter intuitive to first create the resource, and then afterwards editing the resource to add the media files. Or am i missing something here?

[2019-03-12 18:37] dmitrybubyakin commented on #18
Hi @mauricehofman. Look #3

[2019-03-12 18:48] mauricehofman commented on #18
If #3 is done correctly as you mentioned, i have a field when creating a new resource?

Because when i add the field `HasMany::make('photos'),` or `HasMany::make('media'),` its says 'Class not Found'. Which is true, because Medialibrary does not have a class (nova resource), and 'photos' is the Medialibraries 'model_type'

[2019-03-12 19:03] dmitrybubyakin commented on #18
@mauricehofman When you are using the `HasMany` field, you should make sure that the `Media` resource is defined.
https://nova.laravel.com/docs/1.0/resources/#registering-resources

[2019-03-12 19:57] mauricehofman commented on #18
I`m trying to understand, but Spatie's media library does not have a model, right? So when registering the `Media` resource in nova, which model does it references?

[2019-03-12 20:25] dmitrybubyakin commented on #18
@mauricehofman Look https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/src/Resources/Media.php

[2019-03-14 15:31] #14 closed

[2019-03-14 15:31] #17 closed

[2019-03-14 15:32] #18 closed

[2019-03-21 14:50] slackjaw47 commented on #18
When I tried this Nova keeps reading it as App/Nova/Medium and its clearly App/Nova/Media.  And its registered in the NovaServiceProvider as Media as well.  What is going on?  Is Nova trying to use autocorrect?

[2019-03-21 15:02] slackjaw47 commented on #18
Actually I had to use the string 'Medias' so that Nova would infer the correct singular resource name. But it still says that App/Nova/Media doesn't exist. Thoughts?

[2019-04-23 08:40] maherelgamil opened #22 "upload only one file to model"
How can i upload only one image to model, and replace it in update ?!

I need to add one logo file to user model, and when update the model , can replace or delete it.

[2019-04-23 16:39] dmitrybubyakin commented on #22
@maherelgamil Hi! Have a look https://docs.spatie.be/laravel-medialibrary/v7/working-with-media-collections/defining-media-collections#single-file-collections

[2019-04-29 14:42] #22 closed

[2019-05-17 06:26] yuqinghong opened #23 "this package is reay on 'spatie/laravel-medialibrary' ?"

[2019-05-17 06:32] yuqinghong commented on #23
I follow the doc to edit code on my program, bug id always report errors of "undefined method App\{my model}:: registerMediaCollecitons() "

[2019-05-26 11:18] CyrilBlankaert opened #24 "Class 'App\Nova\MediaLibrary' not found"
Hi,

I have a problem when I want to use MediaLibrary:: in my Ressource !

`Class 'App\Nova\MediaLibrary' not found`

How to declare it ?
Thank you :)

[2019-05-26 11:20] dmitrybubyakin commented on #24
@CyrilBlankaert Hi. Did you import it?

[code]

[2019-05-26 11:29] CyrilBlankaert commented on #24
No, now it works !
Thank you :)

[2019-05-26 11:29] #24 closed

[2019-05-26 11:46] CyrilBlankaert opened #25 "How can we define the path of a gallery ?"
I want to have a folder with my ressource name where all the images are on (and not a folder where the name of the folder is the id) How can it be possible ?

Like :

Thanks for the help (again :p )

[2019-05-26 13:01] dmitrybubyakin commented on #25
@CyrilBlankaert https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/using-a-custom-directory-structure

[2019-05-26 13:03] dmitrybubyakin commented on #23
@yuqinghong Have you resolved this problem?

[2019-05-27 01:44] yuqinghong commented on #23
@dmitrybubyakin Yes, I've solved it. It base on the package of `spatie/laravel-medialibrary'` when i To configure the `medialibrary ` , this package will run!

[2019-05-29 18:29] CyrilBlankaert commented on #25
Thanks, it helped me ! :)
But I have a problem now : When I want to delete an image via Laravel Nova, the image is not deleted !
I don't understand why ?

Here is my CustomPath code :

[code]

[2019-05-30 18:22] CyrilBlankaert commented on #25
Solved !
Juste add '/' at the end of the return.

`return 'posts_gallery/' . $post->post_slug . '/' . md5($media->name) . '/';
`

[2019-05-30 18:22] #25 closed

[2019-06-02 11:13] jphms commented on #18
@slackjaw47 try creating a resource named `Media` with fields like they are in here, for instance:
https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/src/Resources/Media.php . Worked for me, but it is not showing on forms though 👎 just on the details view.

[2019-06-02 15:57] #23 closed

[2019-06-18 10:04] h-zone opened #26 "Save under hashied filename"
Hi!
In case of localized filenames (greek, cyrillic, chineese, etc), will be good to be rename files while saving into the storage.

Or i can not see how to flag uploader/adder to rename file.

[2019-06-18 10:07] dmitrybubyakin commented on #26
@h-zone Hi. have a look at his https://github.com/dmitrybubyakin/nova-medialibrary-field#store-and-replace-callbacks

[2019-06-18 11:01] h-zone commented on #26
Still dont understand how to rename filename into hashied name

[2019-06-18 11:03] dmitrybubyakin commented on #26
@h-zone You can do something like this:
[code]

[2019-06-18 11:15] h-zone commented on #26
->usingFileName() losts extension, but i see, thnx!

[2019-06-18 11:17] #26 closed

[2019-06-18 12:54] akizor commented on #24
Hello, it's `Medialibrary` not `MediaLibrary`. It throws class not found when strict PHP settings.

[2019-07-01 03:14] tobz-nz opened #27 "Use getTemporaryUrl() for pirvate files on s3 disk"
The download/view links fail if files are stored on S3 and are private. Using `getTemporaryUrl()` in this case will sort out this problem.

I'm Happy to PR a fix for this.

[2019-07-01 05:57] dmitrybubyakin commented on #27
Hi @tobz-nz. You're free to use your own MediaResource. https://github.com/dmitrybubyakin/nova-medialibrary-field#custom-media-resource

[2019-07-01 07:05] tobz-nz commented on #27
I am - it doesn't fix incorrect download url though, which is set in `Medialibrary->serializeMedia()`

https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/984b45d9d1829314d87e372c1aaf2c956db2d365/src/Fields/Medialibrary.php#L303

Unless I've missed a way to set it via the resource?

[2019-07-01 07:41] dmitrybubyakin commented on #27
@tobz-nz Thank you. Just fixed that. Check it out. https://github.com/dmitrybubyakin/nova-medialibrary-field#custom-download-url

[2019-07-01 07:42] tobz-nz commented on #27
Perfect 👍

[2019-07-02 06:13] #27 closed

[2019-07-15 11:23] h-zone opened #28 "Бага связанная с локализованностью"
Хотя может виновата моя невнимательность.
`resources/js/components/Medialibrary/Modal/DetailModal.vue`
[code]
в итоге получаем скриншот
![2019-07-15_14-23-18](https://user-images.githubusercontent.com/1150044/61212889-242ebe00-a70c-11e9-9733-79a4693808a7.png)

[2019-07-15 11:24] h-zone commented on #28
а так хотелось получить `Подробности`

[2019-07-15 11:24] h-zone commented on #28
короче говоря, моё виденье сунуть туда `__( 'Detail' )`

[2019-07-15 11:26] dmitrybubyakin commented on #28
@h-zone В Nova эта проблема решена с остальными диалогами?

[2019-07-15 11:34] h-zone commented on #28
не уверен даже.
девид и тейлор тупо и постоянно пишут отмазки на решение очевидных проблем.

[2019-07-15 11:36] h-zone commented on #28
@dmitrybubyakin как временное (а в следствии постоянное) решение, имхо, стоит тупо забить туда __(Detail) и забыть как страшный сон до лучших времён.

Также я считаю, что они занимаются версией 3, где 90% текущих проблем будет решено.

[2019-07-15 11:52] h-zone commented on #28
ещё бага. возможно из за обновления новы.

НЕ РАБОТАЕТ:
[code]
РАБОТАЕТ:
[code]
Нова 2.0.9, Лара *.28

[2019-07-15 11:54] h-zone commented on #28
Чёрт - день дерьмо.
Отвалился редактор кастомных пропертей.
Полей редактирования больше нет.

[2019-07-15 12:01] h-zone commented on #28
знаю, спамлю уже. цейтно у меня :(
при попытке редактировать из несущего медиа объекта, отсутствует кусок параметров:
`?editing=true&editMode=update&viaResource=&viaResourceId=&viaRelationship=`

[2019-08-07 15:11] h-zone opened #29 "Кропилка, добить функционал + бага"
Очень хотелось бы видеть доп функционал кропилки в виде ограничения пропорциями сторон изображения.
Например в свойствах принимать либо коэфф типа `1.33(3)` или `16:10`

Также хотелось бы, чтобы кропилка по умолчанию выбирала всё изображение целиком.
Так как приходится постоянно дотягивать края, и ели (**бага**) зажатая мышь уходит за пределы попапа с кропом то попап сворачивается.

[2019-09-14 17:54] programmende opened #30 "What about forms?"
The reason is, because i create a shop and when i adding a product, i will upload images direct from froms instead of safe the form, go to details and upload images then :-)

[2019-09-29 19:29] dmitrybubyakin commented on #30
@programmende I'll do it.

[2019-10-11 13:39] h-zone opened #31 "Возможно бага"
На Нове 2.4.0 не удаляются загруженные изображения.
Прошу проверить функциональность.

при этом новые файлы грузятся и удаляются

[2019-10-11 13:52] h-zone commented on #31
вообще никаких действий произвести нет возможности со старыми файлами, залитыми ранее новы 2.4.0

[2019-10-14 14:41] shazibrazzaq opened #32 "Detail links not working"
![image](https://user-images.githubusercontent.com/7521588/66759906-89847d80-eeba-11e9-8313-6848b77891f6.png)

Can you please confirm why they are not working in upgraded version of 2.4.0

[2019-10-15 09:08] h-zone commented on #32
confirm, at nova 2.4.0 not works

[2019-10-15 10:50] shazibrazzaq commented on #32
@dmitrybubyakin any help?

[2019-10-15 11:57] cfreak opened #33 "Edit Link not Working"
Hi,

i'm using Nova 2.3.1 and the Edit-Links are not working.

It seems that everything is fine, and there is no error, event the ajax request seems correct, but the fields are not showing up. Also the Event-Name seems wired to me.

Do you have any Idea why?

Best Regards
Max

Attached a Screenshot:
<img width="1602" alt="Bildschirmfoto 2019-10-15 um 13 54 48" src="https://user-images.githubuserco

[2019-10-15 11:58] cfreak commented on #32
also confirm that on my installation with nova 2.3.1

[2019-10-15 12:24] shazibrazzaq commented on #32
I think this is the problem, if someone with Vue knowledge can help

vendor/dmitrybubyakin/nova-medialibrary-field/resources/js/components/Medialibrary/File/FileAction.vue

this.$emit('view') is not wokring. $emit is not working.

[2019-10-15 12:26] webparadoxer opened #34 "Error on form"
In Edit or Create, when I use
 NovaBelongsToDepend::make('Region')->options($regionArray),

                NovaBelongsToDepend::make('City')->optionsResolve(function ($region) {
                    $cityArray = [];
                    foreach ($region->cities()->get() as $entityType) {
                        $type = new \stdClass();
                        $type->id = $entityType->id;

[2019-10-15 12:28] webparadoxer commented on #32
same problem

[2019-10-15 13:22] dmitrybubyakin commented on #32
Working on fix

[2019-10-15 13:37] cfreak commented on #32
Maybe the hints are helping :-)

[2019-10-15 14:00] cfreak commented on #32
#35 Pull Request for these two problems

[2019-10-15 14:06] shazibrazzaq commented on #32
@dmitrybubyakin as you are fixing, keep an eye on this too

![image](https://user-images.githubusercontent.com/7521588/66838451-1fcda780-ef7e-11e9-86e3-a96a14dd2092.png)

[2019-10-15 14:58] dmitrybubyakin commented on #33
@cfreak Fixed

[2019-10-15 15:01] dmitrybubyakin commented on #31
@h-zone Выложил новую версию

[2019-10-15 15:01] #31 closed

[2019-10-15 15:05] dmitrybubyakin commented on #34
@webparadoxer Tagged a new version. Is this fixed?

[2019-10-15 15:07] webparadoxer commented on #34
after composer update - same problem(

[2019-10-15 15:09] webparadoxer commented on #34
curl 'http://sahib.test/nova-vendor/nova-belongsto-depend' -H 'X-Requested-With: XMLHttpRequest' -H 'Connection: keep-alive' --data-binary '{"resourceClass":"App\\Nova\\Advert","modelClass":"App\\Model\\Region","attribute":"city","dependKey":7}' --compressed --insecure
fail on this

[2019-10-15 16:46] shazibrazzaq commented on #32
it's still not working, can you please confirm you tested it with nova 2.4.0?

[2019-10-15 17:26] webparadoxer commented on #34
public function __construct(string $name = 'Media', string $collection = 'default', string $resource = MediaResource::class)
    {
        parent::__construct($name);

        $this->resourceClass = $resource;
        $this->resourceName = $resource::uriKey();
        $this->labels = collect();

        $this
            ->relation('media')
//            ->collection($collection)
            ->thu

[2019-10-15 17:40] dmitrybubyakin commented on #32
@shazibrazzaq Yes, I'm using the last version of Nova. Same error?

[2019-10-15 17:47] #33 closed

[2019-10-15 17:47] shazibrazzaq commented on #32
Yes exactly same error.. emit not triggering

[2019-10-15 17:49] dmitrybubyakin commented on #32
@shazibrazzaq emit always triggers, do you have any logs?

[2019-10-15 17:51] #34 closed

[2019-10-15 19:12] dmitrybubyakin commented on #32
@shazibrazzaq Could you check it now? https://github.com/dmitrybubyakin/nova-medialibrary-field/releases/tag/1.2.1

[2019-10-15 19:29] shazibrazzaq commented on #32
sort works, upload works but those buttons didn't work again. I even tried removing the old version and then install again after clearing cache.

[2019-10-15 19:53] dmitrybubyakin commented on #32
@shazibrazzaq can't reproduce

[2019-10-15 20:17] shazibrazzaq commented on #32
@dmitrybubyakin i thank you a lot for helping.

I am not sure why it's not working. Here is the video it even doesn't give any error in console. Also in tried running npm run watch and see on file
vendor/dmitrybubyakin/nova-medialibrary-field/resources/js/components/Medialibrary/File/FileAction.vue

the functions are working but this.$emit is not.

[2019-10-16 14:55] shazibrazzaq commented on #32
thank you i will configure it and test and let you know the results. @dmitrybubyakin

[2019-10-17 22:16] shazibrazzaq commented on #32
@dmitrybubyakin i tried it with new instance with nova 2.5 and Laravel 6 it worked like a charm. I think there is something wrong with my app i tried npm run watch while it was not working i think there is something in cache. I will figure it out and let you know. Thanks a lot for your help it worked well in new app.

[2019-10-25 14:51] sijones-uk commented on #30
This would be really useful for me too. I'm using the media library to store the avatar for a user, so when the user record is edited in Nova it's logical to be able to change the avatar on the edit form. (As an aside, is it possible to limit the number of media items associated with a resource? I want to restrict the number of avatars per user to 1.)

[2019-10-25 14:53] dmitrybubyakin commented on #30
@sijones-uk https://github.com/dmitrybubyakin/nova-medialibrary-field#single-media-collection

[2019-10-25 14:58] sijones-uk commented on #30
I didn't spot that - thanks!

[2019-11-19 15:23] scottgrayson opened #37 "Change "Choose Files" button text to "Choose File" when using ->singleFile() collection"
When using
https://laravelpackages.net/dmitrybubyakin/nova-medialibrary-field#single-media-collection

Button text should change to "Choose File" Instead of "Choose Files"

related question: Is there a method to customize the button text?

[2019-11-19 15:26] dmitrybubyakin commented on #37
@scottgrayson You can use your own translations. https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/resources/js/components/Medialibrary/UploadFiles.vue#L25

[2019-11-20 17:26] scottgrayson commented on #37
@dmitrybubyakin Thanks. This solves my problem for now, but It would not help if i needed to use a single file collection on one resource and a multiple file collection on another

[2019-11-20 17:26] #37 closed

[2019-12-02 09:05] h-zone opened #38 "Ability to use different Storages"
Hi!

Case: need ability to store to the S3 compatible storage: Amazon/Yandex/DO

It is possible to operate with `toMediaCollection()` in this project?

Any advise?

[2019-12-02 09:07] dmitrybubyakin commented on #38
@h-zone Hi.
https://github.com/dmitrybubyakin/nova-medialibrary-field#usage
https://github.com/dmitrybubyakin/nova-medialibrary-field#store-and-replace-callbacks
https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/src/Http/Controllers/StoreMedia.php#L32

[2019-12-02 09:40] h-zone commented on #38
Дим.
Дам идею, а ты думай...
У библиотеки есть возможность регистрировать прямо в модели коллекции в виде?
[code]
Может есть смысл поправить твой код таким образом, чтобы оно смотрелов `$this->mediaCollections`  модели ??

Это по сути в несколько строк снимает необходимость кодить тонну строк и придаёт пакету буст среди конкурентов. хотя какие тут конкуренты...

[2019-12-02 09:41] h-zone commented on #38
и да, твои ттыски не объясняют. они ещё сильнее путают.

[2019-12-02 09:46] dmitrybubyakin commented on #38
@h-zone Ты можешь использовать любую коллекцию и так. Этот пакет всего-лишь обертка, над `spatie/laravel-medialibrary`. Чтобы грузить файлы на S3 - достаточно указать диск - https://docs.spatie.be/laravel-medialibrary/v7/working-with-media-collections/defining-media-collections/#using-a-specific-disk

[2019-12-02 09:47] dmitrybubyakin commented on #38
@h-zone `У библиотеки есть возможность регистрировать прямо в модели коллекции в виде?` - нет, это ответственность разработчика

[2019-12-02 09:48] dmitrybubyakin commented on #38
Т.е. ты сам там можешь написать этот код в модели

[2019-12-02 09:48] h-zone commented on #38
либо я пропустил в спешке, либо ты не прочёл. не суть важно.
- мне необходимо класть в 3 коллекции: локальную, и два сторонних облака: aws+яндекс.

[2019-12-02 09:49] h-zone commented on #38
но я понял тебя. попробую сделать вкладыш в твою обёртку ))

[2019-12-02 09:51] dmitrybubyakin commented on #38
@h-zone насколько знаю, у файла может быть только одна коллекция - https://github.com/spatie/laravel-medialibrary/blob/master/database/migrations/create_media_table.php.stub#L17

[2019-12-02 09:53] dmitrybubyakin commented on #38
Так же, обрати внимание на events - https://github.com/spatie/laravel-medialibrary/tree/master/src/Events, может натолкнет на нужную мысль

[2019-12-02 10:00] h-zone commented on #38
ну да... всё так.

коллекция может быть одна, локальная.

однако вот:

https://github.com/spatie/laravel-medialibrary/blob/5b123abfd4c8560421e6a45ef25086a1f188399c/src/HasMedia/HasMediaTrait.php#L31

и

https://github.com/spatie/laravel-medialibrary/blob/5b123abfd4c8560421e6a45ef25086a1f188399c/src/HasMedia/HasMediaTrait.php#L449

[2019-12-02 10:05] dmitrybubyakin commented on #38
@h-zone В модели их может быть сколько угодно, но при добавлении файлы ты выбираешь одну их них, а не все сразу

[2019-12-02 10:07] h-zone commented on #38
https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/working-with-multiple-filesystems/

[2019-12-02 10:11] dmitrybubyakin commented on #38
@h-zone disk_name можно указать тут https://docs.spatie.be/laravel-medialibrary/v7/working-with-media-collections/defining-media-collections/#single-file-collections

[2019-12-02 10:14] h-zone commented on #38
по другому постучу в дверку:

файл: `dmitrybubyakin/nov~medialibrary-field/src/Http/Controllers/StoreMedia.php`
метод `__invoke`
контекст: в конце return
если от конфы расширить функционал, то будет круто.
в противном случае в `storeUsing()` сначала кладём в облако, потом локально, сугубо логически должно быть наоборот и работать с облаком, если файл локально лёг, а может не лечь, ибо некоторые jp

[2019-12-02 10:15] h-zone commented on #38
я могу pullRequest попробовать накидать, если обещаешь сегодня-завтра посмотреть.

[2019-12-02 10:18] dmitrybubyakin commented on #38
@h-zone так, что-то ты меня запутал. Какая задача?

[2019-12-02 10:29] dmitrybubyakin commented on #38
@h-zone локальная в приоритете?

[2019-12-02 10:35] h-zone commented on #38
локальная - обязательно. это исходный бэкап.
все внешние - источники для клиентов.

при этом надо как-то дать понять локальной файловой системе, что 650 000 файлов в одной папке - зло неимоверное.
тут xfs/riser не спасут ничерта.

[2019-12-02 10:37] h-zone commented on #38
в догонку.
надо как-то регистрировать файлы таким образом в базе, чтобы можно было найти записи с битыми файлами и файлы без записей. реально ногу сломать можно видя, как `ls` смотрит в папку с 650 000 директориями/файлами - 3 минуты чтения директории.

[2019-12-02 10:37] h-zone commented on #38
то есть нужен механизм чистки/информирования об орфанах (orphaned record)

[2019-12-02 10:38] dmitrybubyakin commented on #38
@h-zone используй medialibrary для добавления файла локально (то как они хранятся можно настраивать, смотри документацию medialibrary). Для всего остального - повесь listeners на добавление/удаление файла в нужные коллекции. И будет тебе нужный порядок

[2019-12-02 10:42] dmitrybubyakin commented on #38
@h-zone В общем, если ответ выше тебя не устроит - пришли PR, как ты видишь решение проблемы. Если будет что-то полезное там, то добавлю

[2019-12-02 10:43] h-zone commented on #38
хорошо, закрывай топик

[2019-12-02 10:44] #38 closed

[2019-12-02 11:47] h-zone commented on #38
так.
эвенты не прокатывают, ибо уйдут в цикл от MediaHasBeenAdded
так как в листенере
[code]
`addMedia()` зациклит всё.

через Observers не красиво, но работать будет, однако и там будет зациклен observer так как надо добавить запись в бд о файле на другом диске.

короче куда не глянь - подводный камень.

[2019-12-02 11:50] h-zone commented on #38
как вариант "грязная запись", кладём в s3 файл без упоминания где-либо.
работаем от локального имени файла, и опять же, "грязно" удаляем из облака по имени файла.

всё не красиво...

[2019-12-02 11:50] dmitrybubyakin commented on #38
@h-zone можно игнорировать `s3` и не будет зацикливания.
[code]

[2019-12-02 12:12] h-zone commented on #38
у меня философия.
-- если 2 подобных патча - писать проект заново.

[2019-12-02 16:21] h-zone commented on #38
@dmitrybubyakin
Обнаружил, что:

1. нова не использует событий моделей и/или слушателей. Поэтому оно тут вообще не к месту.
https://github.com/laravel/nova-issues/issues/912#issuecomment-434943954
davidhemphill заявляет, что это фича.
ладно, Бог с ним.

2. работая от обсервера, выявил, что рнр-скрипт работает быстрее, чем появляется файл физически. Соответственно дёргать события вручную из обсерве

[2019-12-09 07:00] AbanoubNassem opened #39 "ability to to edit media on update/create"
consider your `cpanel/admin` will be accessed by some employees, so they should be able to update/create media , through the create/update forms , because it's confusing to go in the `view` view in order to edit the media  , currently when enabled on `update/create` views using `showOnUpdating/showOnCreating` it shows this :-

![Screen Shot 2019-12-09 at 11 00 10 AM](https://user-images.githubuser

[2019-12-09 07:07] dmitrybubyakin commented on #39
@AbanoubNassem I'll do it

[2019-12-09 07:11] AbanoubNassem commented on #39
@dmitrybubyakin , much appreciated , any clue how long would it take to be done ?

[2019-12-09 07:17] dmitrybubyakin commented on #39
@AbanoubNassem I'll try to release a new version in Jan

[2019-12-24 09:18] h-zone opened #41 ".webp/.webm support"
If in my set of images/videos present `.web*` file, i see at index list of links instead of `<img` presentation

I ask to add support for .webp / .webm formats.

Thanks a lot!

[2019-12-26 15:05] dmitrybubyakin commented on #41
@h-zone Hi. Try using:
[code]

[2019-12-29 12:51] h-zone commented on #41
its not helps me.
im usint mimes of png, jpeg, gif, but webp uploadable anyway
adding the webp to the list will not solve problem

[2020-01-13 13:35] spekulatius opened #42 "Questions regarding customization"
Hello @dmitrybubyakin

thanks for providing this great module for Nova! I was wondering if you could help me out understanding it a bit more. I've fiddled around a bit but I'm still wondering if / how it's possible to do these two things:

- Add the image to the "Media Details" modal and
- Making the image regular square (not rounded) in the index list

Peter

[2020-01-13 18:31] dmitrybubyakin commented on #42
@spekulatius Hi.
 - https://github.com/dmitrybubyakin/nova-medialibrary-field#installation
 - https://github.com/dmitrybubyakin/nova-medialibrary-field#custom-media-resource
`Making the image regular square (not rounded) in the index list` - you can override this file https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/resources/js/components/IndexField.vue#L5

Also I'm going to

[2020-01-14 02:37] spekulatius commented on #42
Hello @dmitrybubyakin

thanks for getting back to me. How would one go to overwrite the IndexField without having an own compontent (just using the one which has the media trait itself).

Cheers,
Peter

Btw, I've got two minor changes I'll open a PR for soon - it's just something to consider for the next release.

[2020-01-14 10:14] dmitrybubyakin commented on #42
@spekulatius Hello.

I'll add the ability to add your custom classes to the image on the index view. I'll do it right after the release.

[2020-01-14 11:14] spekulatius commented on #42
Cool, thanks @dmitrybubyakin

[2020-01-14 22:28] h-zone commented on #39
@dmitrybubyakin cool stack ))
will try in about 2-3 days.
good job!

[2020-01-14 22:29] h-zone commented on #29
@dmitrybubyakin в планах? на какие даты или сроки? менеджеры прям за грудки трясут =)

[2020-01-15 06:42] dmitrybubyakin commented on #29
@h-zone сейчас там работают все конфиги, которые есть в cropperjs. Могу еще несколько кнопок добавить, если в них есть смысл, как раз думаю насчет aspectRation
![image](https://user-images.githubusercontent.com/11477505/72411141-ef5efa80-3772-11ea-86ff-16684a1bdaf0.png)

[2020-01-15 06:43] dmitrybubyakin commented on #29
@h-zone ты сейчас уже можешь пользоваться (кстати, топ фича - работает на edit/create). Думаю в субботу релиз будет, как документацию напишу

[2020-01-15 09:39] h-zone commented on #29
@dmitrybubyakin
мне надо отконфига задать пропорцию с по умоланию растянутой коробкой по максимальной стороне выбранной пропорции, чтобы осталось только таскать коробку по вертикали или горизонтали.

[2020-01-15 09:40] dmitrybubyakin commented on #29
@h-zone тут можно это сделать? https://fengyuanchen.github.io/cropperjs/

[2020-01-15 12:19] #32 closed

[2020-01-19 15:42] #39 closed

[2020-01-19 15:42] #30 closed

[2020-01-19 15:43] #42 closed

[2020-01-20 15:29] h-zone commented on #29
@dmitrybubyakin
только счас добрался.
плохая дока по `->cropable()`
не ясно, какой `conversion` ему указывать... новый создать? если да, то это, честно говоря лишнее.

[2020-01-20 15:53] h-zone commented on #29
коротко-говоря нужны демо-сборки.
счас собрал и не могу добавить изображение

[2020-01-20 15:54] dmitrybubyakin commented on #29
@h-zone conversion для crop нужно указывать. spatie/laravel-medialibrary именно так и работает

[2020-01-20 15:56] h-zone commented on #29
[code]
всё верно делаю?

[2020-01-20 16:18] dmitrybubyakin commented on #29
@h-zone `Medialibrary::make( __( 'Images' ), 'service_images', NovaMedia::class )` - 3 параметр теперь $diskName

[2020-01-20 16:25] h-zone commented on #29
@dmitrybubyakin
даже вот так в другом ресурсе, использующем медиа нет кнопки "создать" (политик/гейтов нет).
```Medialibrary::make( __( 'Images' ), 'service_images', 'yos' );```
(yos=yandex object storage)
до апа всё работало, естессно

[2020-01-20 16:26] h-zone commented on #29
может ли быть, что надо какие-то манипуляции с моделью сделать?
в разделе установка про модель ни слова, на минуточку

[2020-01-20 16:27] h-zone commented on #29
если не сложно - покажи свою модельку, которую использовал для работы с филдом.
это бы объяснило многое.

[2020-01-20 16:33] dmitrybubyakin commented on #29
[code]

[2020-01-20 16:39] h-zone commented on #29
не помогло, у меня так же, только вместо preview -> thumb .
не могу создавать изображения, - нет кнопки "создать".
есть идеи где рыть?

[2020-01-20 16:44] dmitrybubyakin commented on #29
@h-zone скинь скрин страницы (если что, создать можно на edit/create, на details нельзя)

[2020-01-20 16:46] h-zone commented on #29
не могу скинуть всю страницу. комм.тайна и нда.
может как-то в приват выйти возможно?

[2020-01-20 16:47] dmitrybubyakin commented on #29
@h-zone telegram: dmitrybubyakin

[2020-01-20 18:00] bomshteyn opened #45 "Show media on related resource"
Is there a way to using this plugin to show media from related resource.

i tried this way:
[code]

but am getting an error

[2020-01-20 18:07] h-zone commented on #29
кропилка всегда со свободным режимом. невозможно её заставить соблюдать пропорции коробки

[2020-01-20 20:03] dmitrybubyakin commented on #45
@bomshteyn
You have an error because of this:
[code]
Currently it is not possible to use media from a related model. But I think, it's a nice feature to have.

[2020-01-20 20:08] dmitrybubyakin commented on #29
@h-zone

https://github.com/dmitrybubyakin/nova-medialibrary-field#attachondetails

![image](https://user-images.githubusercontent.com/11477505/72754647-16815600-3bd1-11ea-9bf2-421e40cec9c8.png)

Насчет 2 и 3 детальнее и если можно, со скринами желаемого результата

[2020-01-21 09:35] h-zone commented on #29
@dmitrybubyakin
1. реально нет кнопок в details
![FireShot Screen Capture #029 - 'ClientArea' - clientarea_h](https://user-images.githubusercontent.com/1150044/72791897-263c8100-3c49-11ea-9312-a1607c3e7fa1.png)

2 и 3:
файл `dmitrybubyakin/nova-medialibrary-field/resources/js/components/Medialibrary/Modals/Cropper.vue`
в кропилке, параметрами указываю aspectRatio и гружу вертикальную фото.
- получ

[2020-01-21 09:36] dmitrybubyakin commented on #29
@h-zone
![image](https://user-images.githubusercontent.com/11477505/72792797-4157c280-3c42-11ea-8955-350c6fdaad45.png)

Это точно используется?

[2020-01-21 09:38] h-zone commented on #29
нет конечно, - пиши на русском инструкцию.

а вообще, есть смысл использовать алгоритм ёonlyOnDetailё и другие аналогичные методы...
из которых после своего кода дёргаешь ёparent::onlyOnDetail()ё

[2020-01-24 03:06] renanpicanco opened #46 "Crop problem and custom field"
Laravel 6.x
Nova: 2.9.3

Crop:

- After selecting the cropping area, the image remains unchanged.
- How to perform a correct configuration for this feature to work correctly?
- Which steps I need to follow?

Custom field
- It's possible to add a custom field on modal of title/description?

[2020-01-24 06:08] dmitrybubyakin commented on #46
@renanpicanco Hi.

Yes, you can use the [fields](https://github.com/dmitrybubyakin/nova-medialibrary-field#fields) method.

Could you share your field configuration and maybe video or gif?

[2020-01-24 12:05] renanpicanco commented on #46
Hi @dmitrybubyakin.

Thanks for the answer and congratulations for excellent job on Medialibrary Field, this help-me so much.

About your questions.

`Medialibrary::make('Media')
                ->croppable('cropped')
                ->attachExisting(),`

![crop](https://user-images.githubusercontent.com/2030735/73067720-2ffff780-3e88-11ea-8def-1687671c637f.gif)

[2020-01-24 12:06] dmitrybubyakin commented on #46
@renanpicanco do you use queues?

[2020-01-24 12:07] renanpicanco commented on #46
@dmitrybubyakin no!

[2020-01-24 12:08] dmitrybubyakin commented on #46
@renanpicanco do you have the `cropped` conversion in your model?

[2020-01-24 12:11] renanpicanco commented on #46
@dmitrybubyakin no, maybe it's the problem. Where I can see this example code?

[2020-01-24 12:11] dmitrybubyakin commented on #46
In your model should be something like this:

[code]

[2020-01-24 12:12] dmitrybubyakin commented on #46
Medialibrary doesn't change the original file. All manipulations are performed on defined conversions

[2020-01-24 12:15] renanpicanco commented on #46
Ok, but how do I see the cut file and use it?

[2020-01-24 12:16] dmitrybubyakin commented on #46
@renanpicanco
![image](https://user-images.githubusercontent.com/11477505/73068528-1ffe0d00-3eb4-11ea-8d16-d8856fe9ea0b.png)

[2020-01-24 12:35] renanpicanco commented on #46
@dmitrybubyakin

- It's possible to set a cropped image as a selected on field?
- When I want to make more than one conversion, it's has a default logic?

Maybe It's good to add more information about what the croppable works for help others..

[2020-01-24 12:46] dmitrybubyakin commented on #46
@renanpicanco try `previewUsing ('cropped')`

[2020-01-24 12:50] dmitrybubyakin commented on #46
@renanpicanco

You can have more than one conversion, but right now only one conversion can be croppable.

https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/storing-media-specific-manipulations/#storing-media-specific-manipulations

[2020-01-24 13:17] renanpicanco commented on #46
@dmitrybubyakin thanks.

[2020-01-24 13:17] #46 closed

[2020-02-04 10:19] moritzlang opened #47 "Using with nova-flexible-content"
Hi!

Thank you for your work on this field!

When using nova-medialibrary-field inside the flexible field content this error gets thrown:
`Field '9cc2fa43048f71a6__media' is not found. In case you are using Panel or Field which contains Medialibrary field, check out DmitryBubyakin\NovaMedialibraryField\MedialibraryFieldResolver::using() method`

How can I use the nova-medialibrary field together w

[2020-02-04 11:33] dmitrybubyakin commented on #47
@moritzlang Hi. nova-flexible-content is not supported

[2020-02-05 06:14] MilesWuCode opened #48 "my media model is other database name"
can i setting ?

use Spatie\MediaLibrary\Models\Media as Model;

class Media extends Model
{
    protected $connection = 'other_db';
}

[2020-02-05 06:20] MilesWuCode commented on #48
config/medialibrary.php
    'media_model' => Spatie\MediaLibrary\Models\Media::class,

[2020-02-05 08:26] dmitrybubyakin commented on #48
@MilesWuCode Hi, I think you should ask this question [here](https://github.com/spatie/laravel-medialibrary/issues)

[2020-02-05 08:26] #48 closed

[2020-02-05 09:52] MilesWuCode commented on #48
class Media extends Resource
{
    public static $model = 'Spatie\MediaLibrary\Models\Media';

to change custom !!

public static $model =  config('medialibrary.media_model');

[2020-02-05 09:53] dmitrybubyakin commented on #48
@MilesWuCode Can't understand you. What is your native language?

[2020-02-05 10:02] MilesWuCode commented on #48
class FieldServiceProvider extends ServiceProvider
{
    public function boot(): void
    {
        Media::$model = config('medialibrary.media_model');

i need custom medialibrary model
custom medialibrary model is connect other database server

[2020-02-06 02:28] MilesWuCode opened #49 "when other database.media table only upload files, delete & edit not work"
This is great plugin !! nice job!

in my case :

- i have two databases

- nova web connect A db

- B db has media table

[code]

- config/medialibrary.php

[code]

nova-medialibrary-field

- can upload file
- can not delete
- can not edit

show error : SQLSTATE[42S02]: Base table or view not found: 1146 Table 'A.media' doesn't exist

[2020-02-06 05:15] dmitrybubyakin commented on #49
@MilesWuCode Do you use your model inside a resource?

[2020-02-06 06:58] MilesWuCode commented on #49
Yes

[2020-02-06 12:51] nonovd opened #50 "Conflict with BooleanGroup"
**Description**
When a Medialibrary field is used along with a **BooleanGroup field**, the following error is thrown:

[code]

on the request `GET nova-vendor/dmitrybubyakin/nova-medialibrary-field/{resource}/{resourceId}/media/{field}`

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Medialibrary field to your Nova Resource
2. Add a BooleanGroup field to your Nova Resource

[code]
3. G

[2020-02-06 13:13] dmitrybubyakin commented on #50
@nonovd Hi. It looks like `/nova-vendor/*` requests don't register `Laravel\Nova\NovaServiceProvider` which registers the `Collection::isAssoc` macro. You can add these lines in your service provider and the problem will be fixed.

[code]

[2020-02-06 13:21] nonovd commented on #50
@dmitrybubyakin Thank you it does work !

If I do understand, this is something that needs to be fixed on the Nova end ?

[2020-02-06 13:29] dmitrybubyakin commented on #50
@nonovd I think, yes. I've created an [issue](https://github.com/laravel/nova-issues/issues/2332). If they won't, I'll fix it in this package.

[2020-02-06 20:35] AshutoshJha15 opened #51 "Readonly property is not working with this field"
Medialibrary::make('Prescription')->readonly(),

[2020-02-06 21:08] dmitrybubyakin commented on #51
@AshutoshJha15 Hi. I'll fix it within a few days. Thank for pointing out.

[2020-02-07 06:15] dmitrybubyakin commented on #51
@AshutoshJha15 Fixed.

[2020-02-07 06:15] #51 closed

[2020-02-07 06:39] dmitrybubyakin commented on #49
@MilesWuCode Fixed. Could you check it out?

[2020-02-10 02:15] MilesWuCode commented on #49
nice, this is fixed.

thank you

[2020-02-10 02:21] MilesWuCode commented on #49
New Issues

Base table or view not found

- Crop button

- Rengerate button

[2020-02-10 06:39] dmitrybubyakin commented on #49
@MilesWuCode Try 2.0.7 pleaes

[2020-02-11 02:37] MilesWuCode commented on #49
woking!!

[2020-02-11 02:37] #49 closed

[2020-02-18 20:46] dmitrybubyakin commented on #50
@nonovd Hi. Looks like they've fixed this. Could you please check it out? https://github.com/laravel/nova/compare/v2.10.1...v2.11.0#diff-0ec68fe3510a239b312d5d7c16324482R39

[2020-02-19 11:36] nonovd commented on #50
I can confirm we no longer need [the fix provided by](https://github.com/dmitrybubyakin/nova-medialibrary-field/issues/50#issuecomment-582899685) @dmitrybubyakin with the [latest release of Nova 2.11.0](https://github.com/laravel/nova/releases/tag/v2.11.0).

[2020-02-19 11:46] #50 closed

[2020-02-25 16:43] dmitriytretyakov opened #52 "не работает кроп"
Добрый вечер! Спасибо за отличное решение. Не получается настроить кроп изображений, почему-то после конверсии оно выглядит также как и оригинальное изображение.

В модели добавил:
[code]

В ресурсе добавил:

[code]

Что я делаю не так?

P.S. В Mysql в таблице медиа у изображения в поле manipulations появилось следующее: " {"cropped": {"manualCrop": "482,454,245,-4", "orientation": "auto"}}"

[2020-02-25 20:04] dmitrybubyakin commented on #52
@dmitriytretyakov Привет, очереди работают? Если выполнить regenerate, отработает?

[2020-02-25 20:04] dmitrybubyakin commented on #52
Попробуй добавить `$this->addMediaConversion('cropped')->nonQueued()`, так работает?

[2020-02-27 23:33] mpanius opened #53 "Persist media on submit"
If you just choose media, and don't hit 'upload' button, it results in empty field after model creation. Should be great to automaticaly upload images (or, at least, throw warning).

Если добавить изображения (choose files), а потом не нажать "загрузить" (upload), то после сохранения поле пустое. Хорошо бы сделать опцию с автоматической загрузкой, ну или на худой конец предупреждать, что изображен

[2020-02-28 07:14] dmitrybubyakin commented on #53
@mpanius Привет. Как вариант - загружать (если не загружено) при нажатии save?

[2020-02-28 07:34] mpanius commented on #53
Ммм, понятно что это можно сделать ручками, если не решите поправить, то так конечно и сделаю.

Но немного нелогично интерфейсно так, как оно сейчас из коробки. Человек  загружал, потом нажал вроде сохранить, и у него все пропало.

[2020-02-28 07:42] mpanius commented on #53
Отдельно хотел бы поблагодарить за такой логичный и уже сейчас хорошо работающий компонент, после ebess/nova-media-library прям бальзам на душу

[2020-02-28 09:37] dmitrybubyakin commented on #53
@mpanius Проверь 2.0.8 https://github.com/dmitrybubyakin/nova-medialibrary-field/commit/18c6081a4ca37a36fff0e2c614a5e15bb3bbc563#diff-a41cdc0e92ce32ca227caf81ee5dee2cR231

[2020-02-28 13:44] mpanius commented on #53
На выходных проверю, спасибо
P.S. Я там письмо написал на адрес в профиле, с ящика с corp.ixbt.com, посмотри плз

[2020-03-04 07:25] mpanius commented on #53
Все работает корректно, как с 1, так и с несколькими medialibrary

[2020-03-09 15:48] lonnylot opened #54 "Allow spatial/laravel-medialibary v8.x-dev"
The v8.x-dev branch includes fixes for working with S3.

[2020-03-09 20:55] dmitrybubyakin commented on #54
@lonnylot Hi. I'll do that when I have time.

[2020-03-11 12:08] #53 closed

[2020-03-12 09:42] dmitriytretyakov commented on #52
Неа, не помог ни `php artisan medialibrary:regenerate` ни nonQueued() и повторная попытка кропа.

[2020-03-12 09:44] dmitriytretyakov commented on #52
Не знаю чем тебе помочь, может у тебя он ищет изображения из collection_name = default? У меня collection_name = images

[2020-03-12 09:47] dmitriytretyakov opened #55 "Использование уже существующего изображения"
А можно ли как-то использовать уже созданное изображение?
Приведу пример:
1. Пользователь создает статью, загружает титульную картинку, прописывает ей title, alt, теги
2. При создании новой статьи он нажимает use existing и выбирает эту картинку (кстати а можно сделать поиск не только по имени, но и по произвольным полям?)
3. В текущей реализации будет использовано не тоже самое изображение,а созд

[2020-03-12 09:48] dmitrybubyakin commented on #52
@dmitriytretyakov https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/storing-media-specific-manipulations/#main

[code]

Так работает?

[2020-03-12 09:52] dmitrybubyakin commented on #55
@dmitriytretyakov custom_properties могут отличаться, где-то могут быть одни, где-то другие. В таком случае будет работать не совсем хорошо. Такую фичу могу добавить в будущем, с возможность выбирать что и куда копировать. Но пока что нет времени на это.

[2020-03-12 09:55] dmitriytretyakov commented on #55
можешь просто добавить функцию searchUsing(), по умолчанию она будет работать как сейчас, а при желании можно её переписать searchUsing(function()  { логика поиска, которая возвращает список Media или id})

[2020-03-12 10:00] dmitriytretyakov commented on #52
Нет, запустил этот код, на всякий случай сделал regenerate, но ничего не изменилось у thumb

[2020-03-12 10:00] dmitrybubyakin commented on #55
@dmitriytretyakov сделаю как будет возможность (или могу рассмотреть PR).

[2020-03-12 10:00] dmitriytretyakov commented on #52
При этом в mysql манипуляция сохранилась.

[2020-03-12 10:01] dmitrybubyakin commented on #52
@dmitriytretyakov значит проблема в чем-то другом. Если бы код выше работал, значит проблема была бы в medialibrary-field.

[2020-03-12 10:03] dmitriytretyakov commented on #55
Честно говоря так и не понял по поводу дублирования. Сейчас это можно избежать?

[2020-03-12 10:04] dmitrybubyakin commented on #55
@dmitriytretyakov сейчас ничего для этого нет

[2020-03-20 10:57] bernhardh opened #56 "Autouploading fails silently when rules are not met."
If i active autoupload and try to upload an image with a wrong size, I get no error message. The form is just stuck. In Chrome Console I get the error `422 (Unprocessable Entity) ` with

[code]
Translate to "file has wrong dimmensions".

[2020-03-20 11:00] dmitrybubyakin commented on #56
@bernhardh Hi. Could you provide more details?

[2020-03-20 11:10] bernhardh commented on #56
Sorry, of course. Was already working on more details.

I have the following field:

[code]

Now when I try to upload an images with minimum width of 780 (for example https://i.picsum.photos/id/849/800/300.jpg) it works as expected.

![image](https://user-images.githubusercontent.com/642292/77158270-477fe900-6aa3-11ea-8881-36678b61e91e.png)

Trying it with a smaller one, for example this one https

[2020-03-21 09:01] dmitrybubyakin commented on #56
@bernhardh Validation errors are displayed when you are hovering the file ![validation errors](https://raw.githubusercontent.com/dmitrybubyakin/nova-medialibrary-field/master/docs/create.png)

[2020-03-22 20:21] filipzlamala commented on #52
I had the same issue. The problem was in the `registerMediaConversions`, you need to add your media collection with `performOnCollections` method:
`$this->addMediaConversion('cropped')->performOnCollections('images')`

[2020-03-23 09:24] bernhardh commented on #56
Thanks for your feedback and your great package.

Ah, ok I didn't thought about hovering over the image/icon for a message and I think its not the expected nova behaviour. A was letting some colleagues try it by their own, without telling them to hover and everybody was expecting an error notifcation and only one out of five colleagues found the info by hovering.

Not sure if its a lot of work, bu

[2020-03-23 09:25] dmitrybubyakin commented on #56
@bernhardh Yes, I'll do that. Thank you:)

[2020-03-23 09:26] bernhardh commented on #56
Or alternativly show the error message directly under the image. This is the default behaviour for most of the other errors on other fields in nova, like "required", etc.

[2020-03-24 05:30] tanaticreative opened #58 "Call to undefined method App\Models\User::registerMediaCollections()"
using base implemention             Medialibrary::make('Media')->single(),

[2020-03-24 07:22] dmitrybubyakin commented on #58
@tanaticreative What traits are used in your `App\Models\User`?

[2020-03-24 07:40] tanaticreative commented on #58
@dmitrybubyakin
`    use Notifiable;
    use LogsActivity;
    use HasRoles;
    use SoftDeletes;`
What should be?

[2020-03-24 07:42] dmitrybubyakin commented on #58
@tanaticreative This package uses https://github.com/spatie/laravel-medialibrary, so your model should implement the `Spatie\MediaLibrary\HasMedia\HasMedia` interface.

[2020-03-25 07:59] dmitrybubyakin commented on #56
@bernhardh Hi. Could you please check it out?

[2020-03-25 08:00] #58 closed

[2020-03-25 08:05] bernhardh commented on #56
Perfect! Thats exactly what I would expect! Thank you so much.

[2020-03-25 08:05] #56 closed

[2020-03-26 21:47] JoshMoreno opened #59 "Support for php 7.2"
I ran php codesniffer and the only error that's showing up is `Trailing comma's are not allowed in function calls in PHP 7.2 or earlier` for these files:

- /src/Fields/Medialibrary.php line 269
- /src/Fields/Support/MediaCollectionRules.php line 24
- /src/Http/Controllers/AttachController.php line 69
- /src/Http/Controllers/CropController.php line 21
- /src/Resources/Media.php line 32
- /tests/In

[2020-03-27 07:15] tanaticreative commented on #58
@dmitrybubyakin А где в readme об этом написано?

[2020-03-27 07:40] tanaticreative opened #60 "Ошибки при запуске примеров"
Такое ощущение не один из приведенных примеров в реадми не работает.
Base table or view not found: 1146 Table 'relo.media'
Method DmitryBubyakin\NovaMedialibraryField\Fields\Medialibrary::title does not exist.
Method DmitryBubyakin\NovaMedialibraryField\Fields\Medialibrary::attachRules does not exist
Method DmitryBubyakin\NovaMedialibraryField\Fields\Medialibrary::single does not exist.
Как понима

[2020-03-27 07:43] dmitrybubyakin commented on #58
@tanaticreative Написано о чем? Что spatie/laravel-medialibrary используется?

[2020-03-27 07:45] tanaticreative commented on #58
о том что требуется добавить  этот трейт к модели

[2020-03-27 07:45] dmitrybubyakin commented on #59
@JoshMoreno Hi. I'm not going to downgrade the minimum php version. You can fork this repository and do that.

[2020-03-27 07:48] dmitrybubyakin commented on #60
@tanaticreative Привет, спасибо за уточнение, добавлю в readme ссылку на v1.

[2020-03-27 07:53] dmitrybubyakin commented on #58
@tanaticreative Это написано в документации к spatie/laravel-medialibrary

[2020-03-28 05:55] #59 closed

[2020-03-29 16:19] dmitriytretyakov commented on #54
Да, было бы здорово

[2020-04-08 15:49] #52 closed

[2020-04-08 15:50] dmitriytretyakov opened #62 "После кропа не обновляется preview"
Сделал у поля ->previewUsing('cropped'), сам кроп работает, но после кропа в preview загружается тоже самое изображение что и было, возможно потому что пусть полностью совпадает с предыдущим. Помогает только перезагрузка страницы

[2020-04-08 15:59] dmitriytretyakov commented on #62
Понятно, что если используется отложенная генерация в отдельной очереди, то вопрос сложный, но с nonQueued() тоже не дружит

[2020-04-09 05:39] dmitrybubyakin commented on #62
@dmitriytretyakov поправлю, спасибо

[2020-04-09 05:57] #54 closed

[2020-04-09 07:09] #45 closed

[2020-04-10 06:11] MilesWuCode opened #64 "Creating has error"
Return value of DmitryBubyakin\NovaMedialibraryField\Http\Requests\MedialibraryRequest::fieldUuid() must be of the type string,

- php 7.4.4
- medialibrary 8.0
- nova 3.2.2

[2020-04-10 06:13] dmitrybubyakin commented on #64
@MilesWuCode Hi. Could you share your field configuration?

[2020-04-10 06:30] MilesWuCode commented on #64
[code]
limit 3 hours
http://61f9377e.ngrok.io/resources/books
email: test@email.com
password:test

[2020-04-10 06:43] dmitrybubyakin commented on #64
@MilesWuCode What request fails?

[2020-04-10 06:46] MilesWuCode commented on #64
i dnot know , just open create page , popup error
![截圖 2020-04-10 下午2 44 46](https://user-images.githubusercontent.com/1192835/78969649-0a56c600-7b3a-11ea-9e7f-d560fbbf6416.png)
![截圖 2020-04-10 下午2 45 06](https://user-images.githubusercontent.com/1192835/78969657-0e82e380-7b3a-11ea-9174-7ece8384b6ed.png)

[2020-04-10 06:59] dmitrybubyakin commented on #64
@MilesWuCode Do you use any other packages? Seems like the value for the cover attribute is overwritten.

[2020-04-10 07:03] dmitrybubyakin commented on #64
@MilesWuCode Got same error after updating Nova. I'm looking into it.

[2020-04-10 07:04] MilesWuCode commented on #64
thank you !!

[2020-04-10 07:24] dmitrybubyakin commented on #64
@MilesWuCode Fixed. Check out v3.0.1 please.

[2020-04-10 07:24] #64 closed

[2020-04-10 09:30] dmitriytretyakov commented on #47
А можешь подсказать в какую сторону копать, чтобы хоть как-то заработало?

[2020-04-10 09:47] dmitrybubyakin commented on #47
@dmitriytretyakov nova-flexible-content никак не заработает с текущей версией, можно посмотреть в строну `epartment/nova-dependency-container`, с ним работает.

[2020-04-10 10:08] dmitriytretyakov commented on #47
Не, там ведь другой функционал. Я делаю блочный редактор статей и несколько блок используют изображения, а nova-dependency-container просто показывает поле в зависимости от условия.

[2020-04-10 10:11] dmitrybubyakin commented on #47
@dmitriytretyakov Пока что сложно добавить поддержку для `nova-flexible-content`, т.к. там все хранится в json и сложно привязать media к json-объекту.

[2020-04-10 10:15] dmitriytretyakov commented on #47
Так можно же в json хранить только ID медиа, а сам media хранить в той же таблице, что и остальные изображения. Разве нет?

[2020-04-10 10:17] dmitrybubyakin commented on #47
@dmitriytretyakov разные варианты есть, но нужно время, у меня пока что его мало. Если есть возможность, был бы рад увидеть прототип и мог бы от него отталкиваться.

[2020-04-10 10:20] dmitriytretyakov commented on #47
Я поэтому и спросил, есть ли мысль в какую сторону искать решение? Просто я не писал своих решений для Nova, но хотел бы помочь с этим функционалом.

[2020-04-10 10:36] dmitrybubyakin commented on #47
@dmitriytretyakov Нужно каким-то образом связать модель Media с json объектом. Попробую со своей стороны здесь что-то завтра сделать.

[2020-04-10 10:43] dmitriytretyakov commented on #47
Хорошо. Если не сложно, напиши потом чем дело кончится, даже если не получится, а то проект не могу сдать без этого) Так-то классное у тебя решение, не хочется отказываться из-за такой фигни, но и flexible удобная штука, которой многие пользуются.

[2020-04-10 14:39] nonovd opened #65 "Cannot update Media informations"
## Problem

Update Request is not sent because of a Javascript error when trying to update a media from the Edit Modal.

![image](https://user-images.githubusercontent.com/12936673/78998504-139b5f00-7b49-11ea-8b2b-ca1c286f751a.png)

## To reproduce

1. On any media item, click Edit Icon to open the Edit Modal.
2. Click "Update Medium" to send the form.

## Env

Laravel Nova 3.3.2
Medialibrary-fiel

[2020-04-10 14:49] #65 closed

[2020-04-10 14:53] dmitrybubyakin commented on #65
@nonovd Thank you for the PR. Checkout v3.0.2 please.

[2020-04-11 13:43] dmitrybubyakin commented on #47
@dmitriytretyakov Привет, v2 сейчас можно использовать с nova-flexible-content, можешь протестировать как будет возможность? Чтобы все нормально заработало, нужно чтобы приняли PR здесь - https://github.com/whitecube/nova-flexible-content/pull/165, а пока что в тестовых целях можно использовать форк.

`composer.json`

[code]

`App\Providers\NovaServiceProvider`

[code]

`App\Nova\Post`

[code]

У

[2020-04-11 13:46] dmitrybubyakin commented on #47
@dmitriytretyakov Все Media добавляются к ресурсу с которым работаешь, те что внутри Flexible - добавляется `custom_properties->flexibleKey`, по нему и фильтруется все с помощью `Medialibrary::resolveMediaUsing`.

[2020-04-11 13:53] #60 closed

[2020-04-11 13:54] #29 closed

[2020-04-11 13:54] #28 closed

[2020-04-11 13:54] #41 closed

[2020-04-11 17:03] dmitriytretyakov commented on #47
Привет! Огромное спасибо, я в понедельник обязательно проверю и отпишусь

[2020-04-13 09:31] dmitriytretyakov commented on #47
Супер! Почти работает.

1. Если добавить ->rules('required'), то даже при загруженном ошибке выдает ошибку, что поле пустое.
2. В режиме создания изображение корректно загрузилось, появилось в таблице media, но при переходе в режим редактирования или просмотра изображение не загрузилось. Посмотрел код и запросы, похоже ключ.

Подробнее::
- При создании в таблицу изображение сохранилось с flexibleK

[2020-04-13 12:54] dmitrybubyakin commented on #47
@dmitriytretyakov Привет, насчет details view, у тебя точно эта версия `https://github.com/dmitrybubyakin/nova-flexible-content:dev-master`?

[2020-04-13 13:37] dmitriytretyakov commented on #47
Да, вот мой composer
[code]

Или whitecube/nova-flexible-content нужно было заменить на dmitrybubyakin/nova-flexible-content?

[2020-04-13 13:59] dmitrybubyakin commented on #47
`whitecube/nova-flexible-content` нужно заменить на `dmitrybubyakin/nova-flexible-content`. Запушил фикс для валидации.

[2020-04-13 14:27] dmitrybubyakin commented on #47
@dmitriytretyakov сейчас проверил со своей стороны - работает валидация и показывает на edit/details без проблем.

[2020-04-13 14:29] dmitriytretyakov commented on #47
А почему удалил сообщение про замену пакета на твой?

[2020-04-13 14:35] dmitrybubyakin commented on #47
@moritzlang не так понял то что ты написал. Должно все быть в точности, как я писал в примере выше.

[2020-04-13 14:36] dmitrybubyakin commented on #47
@dmitriytretyakov У тебя все ок с composer.json

[2020-04-13 14:40] dmitriytretyakov commented on #47
- Updating dmitrybubyakin/nova-medialibrary-field v2.x-dev (e013bb6 => 3feea8f):  Checking out 3feea8f495

Забрал коммит, попробовал снова - ничего не изменилось.

По пунктам
1. Перехожу на страницу создания сущности, добавляю блок, в котором содержится изображение, загружаю его.
2. Сохраняю сущность
3. После сохранения попадаю на страницу просмотра, там пусто, на странице редактирования тоже

[2020-04-13 14:41] dmitriytretyakov commented on #47
В DetailField изменение присутствует.

[2020-04-13 14:58] dmitriytretyakov commented on #47
Валидация кстати заработала.

[2020-04-13 15:00] dmitriytretyakov commented on #47
Посмотрел внимательно, оказывается ты используешь MedialibraryFieldLayout, а его не заметил. Сейчас попробую

[2020-04-13 15:00] dmitrybubyakin commented on #47
@dmitriytretyakov проверь чтобы везде были актуальные изменения, т.к. такой вариант у меня прекрасно работает:

[code]

[2020-04-13 15:03] abordage opened #67 "Пример для документации"
Приветствую
Во-первых, спасибо за пакет!

По умолчанию, при использовании метода `->mediaOnIndex()` возникает проблема `N+1`:

![изображение](https://user-images.githubusercontent.com/28537731/79131104-b570b500-7db0-11ea-9bcc-ef43d2a57126.png)

Если коллекция `->single()` и на ресурсе установлена нетерпеливая загрузка `$with = ['media'];` можно в callback использовать уже загруженные данные:

[cod

[2020-04-13 15:06] dmitrybubyakin commented on #67
@abordage Привет, какая версия?

[2020-04-13 15:08] dmitriytretyakov commented on #47
Да, теперь заработало. Большое тебе спасибо :) Дам знать если еще какой-то баг поймаю, но на первый взгляд всё ок

[2020-04-13 15:16] abordage commented on #67
2.0.13

[2020-04-14 07:55] dmitrybubyakin commented on #67
@abordage в след. версии поправлю

[2020-04-14 15:01] dmitriytretyakov commented on #62
Как вариант можно просто к ссылке на изображение добавить параметр с рандомным значением, чтобы браузер грузил изображение всегда заново. Например ?t=123132

[2020-04-14 15:57] dmitrybubyakin commented on #62
@dmitriytretyakov в 2.0.14 поправил

[2020-04-14 15:57] #62 closed

[2020-04-14 16:28] dmitriytretyakov commented on #62
А Flexible в 2.0.14 поддерживается?

[2020-04-14 16:29] dmitrybubyakin commented on #62
@dmitriytretyakov нет, он в другой ветке https://github.com/dmitrybubyakin/nova-medialibrary-field/pull/69, но там все актуальные изменения.

[2020-04-15 09:38] dmitriytretyakov commented on #47
Кажется нашел баг, если атрибуты будут разные, но названия одинаковые, то происходит та же проблема что и если бы атрибуты были одинаковыми. Попробуй в свое примере заменить
Medialibrary::make('Content Media') на Medialibrary::make('Изображение', 'content_media') и Medialibrary::make('Video Cover') на Medialibrary::make('Изображение', 'video_cover')

[2020-04-15 12:05] dmitrybubyakin commented on #47
@dmitriytretyakov `Medialibrary::make($name = $attribute, $collectionName)`. Позже сделаю чтобы можно было кастомизировать эти поля.

[2020-04-15 13:16] dmitriytretyakov commented on #47
Ну вообще вариант ($name,  $attribute, $collectionName) работает как надо, в таблицу media попадает именно $attribute, а на экране именно $name, проблема только в конфликте двух одинаковых названий.

[2020-04-15 13:17] dmitrybubyakin commented on #47
@dmitrybubyakin Сейчас как ты написал не работает. https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/v2/src/Fields/Medialibrary.php#L55

[2020-04-15 13:29] dmitriytretyakov commented on #47
Вот реальный пример, у меня сохраняет в базу как single_image
[code]

[2020-04-15 13:31] dmitriytretyakov commented on #47
Кажется еще баг:
1) Создал блок типа А, в нем загрузил изображение, сохранил сущность, всё ок.
2) Вернулся в режим редактирования, создал еще блок типа А, загрузил изображение туда, сохранил сущность.

В итоге во втором блоке изображение есть, а в первом исчезло, будто бы я заменил одно на другое.

P.S. Блок типа А использует метод single()

[2020-04-15 13:36] dmitrybubyakin commented on #47
@dmitriytretyakov `Medialibrary::make('Одно изображение', 'single_image', 'medialibrary')` получается: `name = attribute = Одно изображение, collection_name = single_image, disk_name = medialibrary`, верно?

[2020-04-15 13:37] dmitrybubyakin commented on #47
@dmitriytretyakov `Medialibrary::single()` применяется к коллекции

[2020-04-15 13:39] dmitriytretyakov commented on #47
1. Да, верно. В таблице collection_name, а attribute ведь нигде не используется получается... понял тебя, буду ждать фикс.
2. Что значит к коллекции, а не к field?

[2020-04-15 13:40] dmitriytretyakov commented on #47
Вот пример блока, на котором проявляется ситуация с удалением изображения
[code]

[2020-04-15 14:37] dmitrybubyakin commented on #47
@dmitriytretyakov https://docs.spatie.be/laravel-medialibrary/v7/working-with-media-collections/defining-media-collections/#single-file-collections

[2020-04-15 14:38] dmitrybubyakin commented on #47
@dmitriytretyakov добавлю возможность указать attribute (будет метод `Medialibrary::make()->usingAttribute()`, в след. версии перенесу в конструктор)

[2020-04-15 15:19] dmitriytretyakov commented on #47
@dmitrybubyakin я использую singleFile
`
$this->addMediaCollection('apartment_layout_image')->singleFile()
`, но баг всё равно есть.  Также при загрузке во второй блок, в первом изображение пропадает, наверное из-за совпадающих имен полей, но я ведь на это не могу повлиять раз блок один и тот же.

[2020-04-15 16:17] dmitrybubyakin commented on #47
@dmitriytretyakov файл пропадает, т.к. у них одна коллекция

[2020-04-15 18:40] dmitriytretyakov commented on #47
И что делать?)

[2020-04-15 18:51] dmitrybubyakin commented on #47
@dmitrybubyakin я не слишком понимаю контекст задачи.

[2020-04-15 19:09] dmitriytretyakov commented on #47
@dmitrybubyakin Смотри, flexible что дает? Создавать контент из разных блоков, при этом каждый блоки можно добавлять произвольное количество раз. В моём примере я делаю редактор материалов и там есть блок "Планировка", в материале может быть несколько планировок.

В чём проблема: я добавлю первый блок планировки, гружу изображение и сохраняю. Пока всё хорошо, потом я добавляю еще одну планировку,

[2020-04-15 20:18] dmitriytretyakov commented on #47
Прости, это был мой косяк, всё из-за singleFile(), я его отключил, а у поля добавил single() и всё заработало как нужно.

[2020-04-23 14:35] dmitriytretyakov opened #70 "Поле не работает в сочетании с epartment/nova-dependency-container"
Привет! В другой тикете ты писал, что решение работает с epartment/nova-dependency-container, сейчас попробовал вот такой код:
[code]

но при установке переменной type = image выскакивает ошибка:

file: "/home/vagrant/code/NSP/Backend/vendor/dmitrybubyakin/nova-medialibrary-field/src/Bridge/Flexible/FlexibleMedialibraryFieldResolver.php"
line: 39
message: "Return value of DmitryBubyakin\NovaMedial

[2020-04-23 14:44] dmitrybubyakin commented on #70
@dmitriytretyakov одновременно пока что они не поддерживаются, нужно resolver поправить:
[code]

[2020-04-23 14:45] dmitrybubyakin commented on #70
@dmitriytretyakov как будет время, сделаю чтобы одновременно можно было использовать

[2020-04-23 14:46] dmitriytretyakov commented on #70
А есть возможность в ту ветку внести изменения? Нет возможности править код, т.к. на продакшене автоматически разворачивается.

[2020-04-23 14:49] dmitrybubyakin commented on #70
@dmitriytretyakov та ветка относится к flexible, не хочу мешать код там. Ты можешь скопировать себе `FlexibleMedialibraryFieldResolver` с тем что я написал выше и в ServiceProvider заменить
[code]

И как будет возможность, проверить и отписать, все ли работает, быстрее тогда в основную версию добавлю.

[2020-04-23 14:51] dmitrybubyakin commented on #70
@dmitriytretyakov
[code]

[2020-04-23 14:56] dmitriytretyakov commented on #70
Хорошо, попробую

[2020-04-23 16:17] dmitriytretyakov commented on #70
Вроде работает

[2020-04-26 10:32] mostafakram opened #71 "Previewing using temp url"
Hi,

I am need to preview images on nova (details and index) with temp urls from s3

I have used the downloadUsing
[code]

And it works as expected

But the previewUsing doesn't

[code]

![Screen Shot 2020-04-26 at 12 30 58 PM](https://user-images.githubusercontent.com/25792357/80304932-cb6f7400-87b9-11ea-8735-b11c16f314e4.png)

One more thing, the download url from the view is not the temp one as

[2020-04-26 10:42] mostafakram commented on #71
I have found that in MediaPresenter.php the difference between `downloadUrl` and `previewUrl` is calling `appendTimestamp` on the `previewUrl` which i believe breaks the tempURL

if its changed from
`'previewUrl' => $this->appendTimestamp($this->previewUrl()),`
to
`'previewUrl' => $this->previewUrl(),`

It works as expected

[2020-04-26 10:45] dmitrybubyakin commented on #71
@mostafakram Hi. Thank you for pointing this out! I'll fix that as I can.

[2020-04-26 11:01] mostafakram commented on #71
Thank you for your promptness

Please note that i am on version 2.0.14 of the package

And i have a suggestion to fix this without backward compatibility

add new variable public `$attachTimeStamp;` to  the filed

add new method
[code]

call this method in constructor
[code]

and in MediaPresenter

change previewUrl to in `toArray()`
[code]

Now calling the field this way to make it work
[code]
Wh

[2020-04-27 07:39] winter-ice opened #72 "Thanks for this awesome package, that will be great if it has translation support"

[2020-04-27 07:45] dmitrybubyakin commented on #72
@winter-ice Hi. It has translation support - https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/resources/js/components/Medialibrary/MediaUploading.vue#L25

[2020-04-27 07:57] winter-ice commented on #72
1. By default, the fields doesn't use translation helper. We have to custom fields to do this - https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/3b94a6de1736459078257b5f9d7e4229b8a03b1b/src/Fields/Support/MediaFields.php#L19

2. I view the source code. And I didn't found how to translate the panel title 😞 .

3. It will be better if the package has own translation file. It will be hel

[2020-04-27 08:02] dmitrybubyakin commented on #72
Will be fixed.

Which panel?

I'll try to do that.

If you have any thoughts how to make this package better, please let me know, I'll be happy to help.

[2020-04-27 08:06] winter-ice commented on #72
I had do the 1 and 3 through my own way.
Could you please tell me how to translate the panel title?
![image](https://user-images.githubusercontent.com/24680921/80348773-e1a42f80-88a0-11ea-87e1-797173e3ab75.png)
In detail and form page

[2020-04-27 09:11] dmitrybubyakin commented on #71
@mostafakram Hi. Could you please checkout 2.0.16? Now it appends only when cropping enabled and can be disabled with `Medialibrary::appendTimestampToPreview(false)` (must be called after `Madialibrary::croppable()`). See 998603f. Can I close the issue?

[2020-04-27 09:17] dmitrybubyakin commented on #72
@winter-ice Could you please checkout a new version? I've added the translation file.

[2020-04-27 09:20] winter-ice commented on #72
Before I create this issue, I just installed this package

[2020-04-27 09:23] winter-ice commented on #72
Sorry, I just notice that you released new v2 version, but I installed v3 version just now

[2020-04-27 09:23] dmitrybubyakin commented on #72
@winter-ice https://github.com/dmitrybubyakin/nova-medialibrary-field/commit/0ce1ddaae858abca388a1848ecc7e08712ad0114

[2020-04-27 09:25] winter-ice commented on #72
could you please release the new v3 version? I will update it use composer

[2020-04-27 09:36] dmitrybubyakin commented on #72
@winter-ice Yes, I did the same for v3.

[2020-04-27 09:39] mostafakram commented on #71
Awesome 💪

Thank you @dmitrybubyakin

Yes its fixed and you can close the issue

Just two points please

- Please update the readme with the changes for others using the package
- As i mentioned above the download url in the window from the view button is not the temp one, how can update it?
![Screen Shot 2020-04-27 at 11 38 51 AM](https://user-images.githubusercontent.com/25792357/80357758-b824dd

[2020-04-27 09:41] dmitrybubyakin commented on #71
@mostafakram You can override default media fields https://github.com/dmitrybubyakin/nova-medialibrary-field#fields

[2020-04-27 09:43] mostafakram commented on #71
Great, thanks

[2020-04-27 09:43] #71 closed

[2020-04-27 09:45] winter-ice commented on #72
I had updated to new version. Seems it works well, I haven't use all feature of this package. I will make a PR for Chinese Localization after I test all feature related to localization.

[2020-04-27 10:25] winter-ice commented on #72
Where is the `:resource` defined? Seems it always be `medium`?

[2020-04-27 10:39] dmitrybubyakin commented on #72
@winter-ice It uses https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/src/Resources/Media.php#L10. I'll add a few translations.

[2020-04-27 10:52] dmitrybubyakin commented on #72
@winter-ice https://github.com/dmitrybubyakin/nova-medialibrary-field/commit/615da532e33a84fa80e57f334c771e63c100158c

[2020-04-27 12:37] #72 closed

[2020-05-06 09:33] dmitriytretyakov opened #77 "Перевод кнопок"
Привет, как я могу перевести кнопки на русский язык?

[2020-05-06 09:34] dmitrybubyakin commented on #77
@dmitriytretyakov в соответствующую папку добавить файл ru.json https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/resources/lang/en.json

[2020-05-06 09:36] dmitrybubyakin commented on #77
@dmitriytretyakov `php artisan vendor:publish` и `resources/lang/vendor/nova-medialibrary-field/ru.json`

[2020-05-06 09:55] dmitriytretyakov commented on #77
Не могу найти твой пакет в списке вариантов:
[code]

[2020-05-06 09:58] dmitrybubyakin commented on #77
@dmitriytretyakov какая версия используется?

[2020-05-06 10:00] dmitriytretyakov commented on #77
На данный момент dmitrybubyakin/nova-medialibrary-field v2.x-dev 3feea8f

[2020-05-06 10:02] dmitrybubyakin commented on #77
@dmitriytretyakov Если нужна поддержка flexible-content - https://github.com/dmitrybubyakin/nova-medialibrary-field/pull/69, без нее - последняя 2.x

[2020-05-06 10:06] dmitriytretyakov commented on #77
Нужно переключиться на какую-то другую ветку? Я уже запутался в них )

[2020-05-06 10:07] dmitrybubyakin commented on #77
@dmitriytretyakov если нужна поддержка flexible, то да

[2020-05-06 10:15] dmitriytretyakov commented on #77
На какую?

[2020-05-06 10:15] dmitrybubyakin commented on #77
@dmitriytretyakov `feat/nova-flexible-content-support`

[2020-05-06 10:17] dmitriytretyakov commented on #77
А как это связано с переводом кнопок?

[2020-05-06 10:19] dmitrybubyakin commented on #77
@dmitriytretyakov в той версии, которой ты сейчас пользуешься, нет такой функциональности. Я добавил это в более новой версии. И соответственно, обновил PR, чтобы там были актуальные изменения.

[2020-05-06 10:22] dmitriytretyakov commented on #77
А в ней есть поддержка dependency-container из задачи https://github.com/dmitrybubyakin/nova-medialibrary-field/issues/70 ?

[2020-05-06 10:59] dmitrybubyakin commented on #77
@dmitriytretyakov да

[2020-05-06 11:15] dmitriytretyakov commented on #77
Извини, а что не так?
`
"dmitrybubyakin/nova-medialibrary-field": "feat/nova-flexible-content-support",
`
Выдает ошибку: Could not parse version constraint feat/nova-flexible-content-support: Invalid version string "feat/nova-flexible-content-support"

[2020-05-06 11:19] dmitrybubyakin commented on #77
@dmitriytretyakov
[code]

[2020-05-06 12:28] dmitriytretyakov commented on #77
Спасибо, получилось

[2020-05-06 12:28] #77 closed

[2020-05-13 15:38] vesper8 opened #78 "how to prevent preview from being squished on smaller screens"
Hi there, am really enjoying your package, thank you for making it.

I'm having an issue where if I want to display 5 image previews on the index page, it looks good on wide screen but on smaller screen the rounded images get squished together.

This may be a result of using gregoriohc/laravel-nova-theme-responsive

Still, I would like to know if you have any idea how I can prevent the images from

[2020-05-13 16:11] dmitrybubyakin commented on #78
@vesper8 Hi. I'll add possibility to set `min-width` via `withMeta`.

[2020-05-13 22:19] vesper8 commented on #78
thank you! that should hopefully do the trick. Will you add it on the whole column or on a per-media-item basis? I think it would need to be on a per-item otherwise the column may be larger than it needs to be as now every row has at least 5 media items

[2020-05-14 15:55] dmitriytretyakov commented on #70
Обнаружил, что не работает required.

[code]

Если убираю зависимости от состояния, то всё работает

[2020-05-15 05:04] dmitrybubyakin commented on #70
@dmitriytretyakov Привет, можешь сделать отдельный issue?, На выходных поправлю.

[2020-05-15 07:22] dmitriytretyakov opened #79 "Не работает required в сочетании с epartment/nova-dependency-container"
Не работает required (возможно и rules в целом) в сочетании с epartment/nova-dependency-container

Пример:

[code]

[2020-05-17 07:46] dmitrybubyakin commented on #79
@dmitriytretyakov Проверил, все работает. Валидация не работает в том случае, если dependencies are not satisfied для NovaDependencyContainer.

[2020-05-19 09:49] dmitriytretyakov commented on #79
А какие версии пакетов ты используешь?

[2020-05-19 10:03] dmitrybubyakin commented on #79
@dmitriytretyakov `composer require dev-feat/nova-flexible-content-support`

[2020-05-25 15:59] dmitriytretyakov commented on #79
Я имел в виду какая версия новы и NovaDependencyContainer

[2020-05-25 17:53] dmitrybubyakin commented on #79
@dmitriytretyakov последние версии

[2020-05-29 13:02] dmitriytretyakov commented on #79
Проверил. Присмотрись к своему примеру, у тебя на скрине ругается на правило min, а required игнорирует. В моем же примере используется single() изображение и min не подойдет.

[2020-05-29 13:03] dmitrybubyakin commented on #79
@dmitriytretyakov привет, ок, завтра проверю

[2020-05-29 13:08] dmitriytretyakov opened #80 "Можно ли сделать обратную сортировку в attachExisting() ?"
По ощущениям изображения в нем сортируются по дате добавления и самые старые на первой странице. Можно ли сделать обратную сортировку? Например пользователю нужно четыре раза загрузить одно и тоже изображение. Он грузит его один раз, а дальше трижды выбирает в этом блоке.

P.S. Наверно стоит поправить количество изображений на странице, сейчас их 25 штук, по 8 на каждую строку, в итоге три строки

[2020-05-29 13:10] dmitriytretyakov opened #81 "Можно ли вывести информацию об оригинальном изображении?"
Допустим пользователь выбрал или загрузил изображение на контроле. В админке у поля есть текст (рекомендуем использовать размер не мене 500х500), может ли пользователь посмотреть какие ширина и высота у загруженного изображения?

[2020-05-29 13:12] dmitrybubyakin commented on #80
@dmitriytretyakov попробуй через `attachExistingUsing` https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/v2/tests/Fixtures/Nova/TestPost.php#L30

[2020-05-29 13:13] dmitrybubyakin commented on #81
@dmitriytretyakov `tooltip` - https://github.com/dmitrybubyakin/nova-medialibrary-field#tooltip

[2020-05-29 14:09] dmitriytretyakov commented on #81
Спасибо, попробую

[2020-05-29 14:09] #81 closed

[2020-05-29 14:09] dmitriytretyakov commented on #80
Спасибо, попробую

[2020-05-29 14:11] dmitriytretyakov commented on #80
А что скажешь про изменение количество элементов на странице?

[2020-05-30 05:49] dmitrybubyakin commented on #79
@dmitriytretyakov проверил, все работает.
![image](https://user-images.githubusercontent.com/11477505/83320687-701a2100-a252-11ea-9aeb-545f77957f8c.png)

[2020-05-30 06:16] dmitrybubyakin commented on #80
@dmitriytretyakov такой возможности нет, пока что не вижу смысла в ней

[2020-05-30 07:10] dmitriytretyakov commented on #79
Можешь скинуть пример кода?

[2020-05-30 07:11] dmitriytretyakov commented on #80
Смысл в том, что на 25 выглядит некрасиво, нужно либо 24 либо 32

[2020-05-30 10:49] dmitrybubyakin commented on #79
@dmitriytretyakov
[code]

[2020-05-30 10:55] dmitriytretyakov commented on #79
А проверял для single()?

[2020-05-30 11:00] dmitrybubyakin commented on #79
@dmitriytretyakov да

[code]

[2020-06-01 15:25] dmitriytretyakov commented on #79
Не знаю что сказать, у меня поле
[code]

Если я выношу его из NovaDependencyContainer::make , то начинает работать required, если возвращаю то снова пропускает не возвращая ошибок.

[2020-06-01 16:38] dmitrybubyakin commented on #79
@dmitriytretyakov У тебя условие `dependsOn` выполняется? Если нет, то required не будет работать.

[2020-06-01 17:15] dmitriytretyakov commented on #79
Выполняется

[2020-06-01 18:50] dmitrybubyakin commented on #79
@dmitriytretyakov если medialibrary заменить на любое другое поле, будет работать?

[2020-06-01 19:02] dmitriytretyakov commented on #79
Хороший вопрос, завтра гляну

[2020-06-02 15:03] dmitriytretyakov commented on #79
Проверил на примере ` Text::make('Ссылка для перехода', 'url')->hideFromIndex()->rules(['required', 'url']),`. Работает как нужно, в любом случае требует заполнить поле.

[2020-06-02 15:22] dmitrybubyakin commented on #79
@dmitriytretyakov `в любом случае требует заполнить поле` - т.е. если условие dependsOn не выполняется, все равно поле required?

[2020-06-02 15:31] dmitriytretyakov commented on #79
Не, наверное я неверно выразился. Если условие не выполняется, то rules не срабатывают.

"В любом случае" - тут имело ввиду что и внутри контейнера зависимости и вне его логика работает одинаково.

[2020-06-02 15:33] dmitrybubyakin commented on #79
@dmitriytretyakov если условие dependsOn не выполняется, то текстовое поле (которое required) не обязательно, правильно?

[2020-07-01 16:58] dmitriytretyakov commented on #79
Привет, смотри что нашел. Посмотрел сейчас какие данные отправляются при добавлении, а там:
[code]

То есть почему то используются публичные названия вместо названий атрибутов, хотя у всех остальных полей используют атрибуты.

Еще почему-то не сохраняется изображение если его загрузить при создании записи, при редактировании сохраняется успешно.

В твоем примере используется ` Medialibrary::make('

[2020-07-02 11:40] dmitrybubyakin commented on #79
@dmitriytretyakov Привет. Первый аргумент - название (и как атрибут используется), второй аргумент - название коллекции. Если нужно указать кастомный атрибут - https://github.com/dmitrybubyakin/nova-medialibrary-field#attribute

[2020-07-02 12:49] dmitriytretyakov commented on #79
Похоже дело не в этом, указание атрибута не помогло.

Не знаю почему, но если использовать изображения в сочетании с NovaDependencyContainer , то не работает валидация и как выяснилось не происходит загрузка изображения при создании записи. Если убираю NovaDependencyContainer, то всё работает как надо.

[2020-07-08 06:12] dmitrybubyakin commented on #79
@dmitriytretyakov Пока что нет времени, постараюсь на выходных разобраться в чем проблема.

[2020-07-16 15:33] dmitriytretyakov commented on #79
@dmitrybubyakin У тебя работает required_if? Я вытащил поле из контейнера зависимостей, required заработал, а вот required_if не работает почему-то.

[2020-07-17 12:52] dmitriytretyakov commented on #79
Интересно. если пишу rules('required_if:type,image'), то не работает. А
[code]
работает

[2020-07-19 08:57] dmitrybubyakin commented on #79
@dmitriytretyakov Работает required_if.

[2020-07-22 06:41] stas-itb commented on #70
@dmitrybubyakin у меня не работает в сочетании с epartment/nova-dependency-container. Использую последние версии и  nova-dependency-container и nova-medialibrary-field.
`"Field `quote_image` is not found. In case you are using Panel or Field which contains Medialibrary field, check out DmitryBubyakin\NovaMedialibraryField\MedialibraryFieldResolver::using() method"`

[2020-07-22 06:42] stas-itb commented on #70
@dmitrybubyakin проверил так же и для [https://github.com/yassipad/laravel-nova-nested-form](laravel-nova-nested-form) - та же самая ошибка

[2020-07-22 06:54] dmitrybubyakin commented on #70
@stas-itb пока что поддержка этих библиотек не вошла в релиз, можно посмотреть эти PR - https://github.com/dmitrybubyakin/nova-medialibrary-field/pulls

[2020-08-24 15:08] #80 closed

[2020-09-10 06:18] #79 closed

[2020-09-10 06:20] #70 closed

[2020-09-22 09:01] dmitriytretyakov opened #89 "Некорректно работает обрезание изображений"
Попробовал загрузить вертикальное изображение 1000х1262 пикселя и после этого обрезать изображение. В появившемся окне отображается только центральная часть изображения, а верх и низ не дает включить в область кропа.

[2020-09-22 09:14] NormanHuth opened #90 "Request: disable fields"
How can I disable the fields including the edit popup?

[2020-09-22 09:18] NormanHuth opened #91 "Question: croppable for more conversions or withouth"
Is it possible to crop the image in general and save it without conversion? Or how to apply this function to multiple conversions (e.g.: conversion['720p', '1080px'])?

[2020-09-23 14:50] bernhardh opened #92 "Posibility to add an extra copy code button to the field"
Currently you have the option to copy the url of the media:

![image](https://user-images.githubusercontent.com/642292/94027567-449be300-fdbb-11ea-9277-408c1d00955a.png)

I want to have the posibility to add an additional button to this menu, where I can copy my own (dynamic) value based on the image (generated by a callback). Lets call it `extraCopyCode`. For example, if you want to copy the ID o

[2020-09-23 14:53] dmitrybubyakin commented on #91
@NormanHuth I think you should ask this question [here](https://github.com/spatie/laravel-medialibrary/issues). This package relays on spatie/laravel-medialibrary.

[2020-09-23 14:54] dmitrybubyakin commented on #90
@NormanHuth Do you mean hiding all action buttons?

[2020-09-23 14:55] dmitrybubyakin commented on #92
@bernhardh Nice feature. I'll implement this ASAP.

[2020-09-23 19:02] NormanHuth commented on #90
I want to remove the edit image function for some images.

![image](https://user-images.githubusercontent.com/26193232/94057552-111f7f80-fde0-11ea-8109-b3f225e06d3e.png)

[2020-09-23 19:34] dmitrybubyakin commented on #90
@NormanHuth Try using policies. https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/src/Fields/Support/MediaPresenter.php#L79

[2020-09-24 06:19] dmitrybubyakin commented on #92
@bernhardh Please checkout a new version.

[2020-09-24 06:22] dmitrybubyakin commented on #89
@dmitriytretyakov Можно скрин?

[2020-09-24 09:02] dmitriytretyakov commented on #89
![image](https://user-images.githubusercontent.com/34216562/94124482-bd537b80-fe5d-11ea-9200-3e5caf0ff635.png)

[2020-09-24 09:03] dmitriytretyakov commented on #89
Там выше голова должна быть, но её никак не выделить

[2020-09-24 11:29] bernhardh commented on #92
Thanks and great work. It woul be nice, if we can choose if (one of) the button is always visible (outside the dropdown, right next to the delete icon), because this would reduce one extra click, but i like the implementation anyway. Thank you!

[2020-09-24 11:29] #92 closed

[2020-09-25 15:09] dmitrybubyakin commented on #89
@dmitriytretyakov а zoom?

[2020-09-29 15:59] tmartty opened #94 "Upload media synchronously, respecting the preview order"
So right now when you click on "Upload" the request to upload all media fires synchronously in the same order the images are previewed before uploading. But then depending on how long each request takes, media entries are created in a different order than the original one.

**Is there a way to either make each attach request wait for the previous one to fire, or to preserve the original preview or

[2020-09-29 23:42] tmartty commented on #94
Ended up making my own custom field based on `nova-medialibrary-field` and then changing the **upload** method in [MediaUploading.vue](https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/4588d953e61388ba02055efbb76f92113419080f/resources/js/components/Medialibrary/MediaUploading.vue#L154) to the following:

[code]

What I had to do was to basically turn the `forEach` loop into a regular

[2020-09-30 04:36] dmitrybubyakin commented on #94
@tmartty Nice solution. Should I add it to the package?

[2020-09-30 11:56] tmartty commented on #94
@dmitrybubyakin yes! That would be awesome.

Maybe an `asyncUpload(true/false)` method?

Then something like this should work? Haven't tested it though.

[code]

[2020-09-30 12:02] dmitrybubyakin commented on #94
@tmartty I'll try to implement this on the weekends

[2020-10-21 17:26] paul-a-byford opened #95 "media library v9 / laravel 8 support"
is it possible to update the package to support media library v9 and laravel v8?

[2020-10-30 13:10] mira-thakkar opened #96 "Upload of new file is not working on create/edit view"
I recently try to integrate the package to support spatie/media-library integration in my nova dashboard
Nova Version: 3.12
Laravel Version: 7.28

it is showing old media uploads in view(index/detail) and form(update). But upload or choose from existing media doesn't work.

In `Player` resource, to have image  i have added it like this:

[code]

Player Model
[code]
Can anyone help me with what am

[2020-10-30 14:35] dmitrybubyakin commented on #96
@mira-thakkar Could you provide more details?

[2020-10-30 15:06] mira-thakkar commented on #96
So basically, it is not giving any error on create/update Player resource, but there is no media(player image) added to the database.

[2020-11-02 06:29] dmitrybubyakin commented on #96
@mira-thakkar Try this:

[code]

[2020-11-10 15:27] vpratfr commented on #95
Why is this issue closed? Composer does not want to update it here.

[2020-11-10 15:29] vpratfr opened #97 "Allow media library v9"
Composer fails to update because this library seems to only accept v8.

v9 should be no issue, I guess this is just a matter of updating your composer file to allow ~9.0 too

[2020-11-10 15:56] dmitrybubyakin commented on #95
@vpratfr I'll add v9 support soon.

[2020-11-10 18:53] #95 closed

[2020-11-10 19:01] dmitrybubyakin commented on #97
@vpratfr Could you please check the new version out?

[2020-11-13 10:20] vpratfr commented on #97
Looks good. Composer did not complain.

[2020-11-13 10:38] #97 closed

[2020-11-26 16:39] JonathanDoelan opened #98 "withResponsiveImages() not working smoothly"
Thanks for your great work!

I have problems using `->withResponsiveImages()` inside my models `registerMediaConversions` OR `registerMediaCollections` method. When I select a lot of images, I can’t submit the Create(!)-form on my nova-resource. This is because the server waits for a response but generating all those responsive versions of multiple images can take some time. I'm getting errors lik

[2020-11-27 07:25] dmitrybubyakin commented on #98
@JonathanDoelan Hi. Just updating model_name won't work. Check [this](https://spatie.be/docs/laravel-medialibrary/v8/advanced-usage/moving-media) and [this](https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/src/Fields/Medialibrary.php#L388) out.

It looks like you don't use queues for media processing. Queues can perfectly handle this issue.

Another way - you can override `Med

[2020-11-27 07:25] #96 closed

[2020-11-27 16:22] JonathanDoelan opened #99 "autouploading() not working for media that is attached with attachExisting()"
Instead of autouploading the selected existing media, an upload-button appears and we have to click that button.

[code]

[2020-11-27 16:24] JonathanDoelan opened #100 "single() not working correctly with attachExisting()"
Instead of replacing the selected existing Media, it is added to the list.

[code]

[2020-11-27 16:34] JonathanDoelan opened #101 "help() not appearing on Medialibrary field or custom fields"
Help text does not appear on Medialibrary field. Also help text within the `-fields()` method is not appearing.

[code]
:(

[2020-11-27 16:46] JonathanDoelan commented on #98
@dmitrybubyakin Thx for your recommendations. They led me to the following solution:

[code]

… and it WORKS GREAT!
My problem is, that in my production environment I can’t run queued jobs. :(
So maybe, for this case, you’ll find a way to integrate this kind of customization in your app.

As you can see I’ve extracted the part where the model is moved into a new method. This is what it would look

[2020-11-27 16:52] JonathanDoelan opened #102 "->accept('image/jpg') causes attachExisting() from working correctly"
I can’t select files from the overlaying modal if `->accept()` has one of the following values:

[code]

[code]

It only works this way:

[code]

[2020-11-28 07:11] dmitrybubyakin commented on #99
@JonathanDoelan Thanks. I'll fix that.

[2020-11-28 07:14] #90 closed

[2020-11-28 07:15] #91 closed

[2020-11-28 07:15] #89 closed

[2020-11-28 07:16] #47 closed

[2020-11-28 07:17] #94 closed

[2020-11-29 12:49] dmitrybubyakin commented on #100
@JonathanDoelan Is your collection is the single file collection? https://spatie.be/docs/laravel-medialibrary/v9/working-with-media-collections/defining-media-collections#single-file-collections

[2020-11-29 12:51] dmitrybubyakin commented on #101
@JonathanDoelan Can't reproduce. What version of Nova do you use?
![image](https://user-images.githubusercontent.com/11477505/100542410-58981100-3252-11eb-8600-83aeb78ae790.png)

[2020-11-29 13:07] #102 closed

[2020-11-29 13:08] dmitrybubyakin commented on #99
@JonathanDoelan Fixed.

[2020-11-29 13:09] dmitrybubyakin commented on #98
@JonathanDoelan `Medialibrary::moveMediaToTargetModelUsing`.

[2020-11-29 13:09] dmitrybubyakin commented on #78
@vesper8 Can be fixed like this:

[2020-11-29 13:09] #78 closed

[2020-11-29 13:09] #99 closed

[2020-11-29 13:10] #98 closed

[2020-11-29 14:36] JonathanDoelan commented on #98
@dmitrybubyakin Thanks a lot!

[2020-11-29 14:48] JonathanDoelan commented on #102
Thx!

[2020-11-29 14:57] JonathanDoelan commented on #100
Yes … like this:

[code]

Ah! I figured out that the problem only occurs on the CREATE form. So maybe it has to do something with the TransientModel?

[2020-11-29 15:13] JonathanDoelan commented on #101
nova version is `"version": "3.15.0"` and it only happens with your package …
:(

[2020-11-29 15:46] vesper8 commented on #78
@dmitrybubyakin I think you meant to paste a solution and forgot to paste it? I'd love to see it. Thanks!

[2020-11-29 15:49] JonathanDoelan opened #103 "Filtering unused media … or … detached media is not deleted"
When adding media to a NEW resource, the media is first uploaded via JS and is related to a TransientModel. After submitting the whole form, the media is moved from the TransientModel to the newly created resource model.
In case of updating a resource, newly added media is NOT related to a TransientModel, but to the already existing resource model.

1. BUT … for example if we’re editing a news art

[2020-11-29 19:03] dmitrybubyakin commented on #78
@vesper8 It is a typo. This bug is fixed now. https://github.com/dmitrybubyakin/nova-medialibrary-field/commit/da50f2f4cba240682b3b22f7ca48d2e92ee53584#diff-e70003cf2af24434c6254620001f382eea022a99f57448551d76378719bdcad8R37

If you want customize it - try `Medialibrary::withMeta(['indexPreviewClassList' => 'classes that you need'])`

[2020-11-29 22:03] dmitrybubyakin commented on #101
@JonathanDoelan Ok. I'll try to find out and fix that.

[2020-11-29 22:04] dmitrybubyakin commented on #100
@JonathanDoelan Yes, that's because of the TransientModel. I'll fix that.

[2020-12-01 08:28] JonathanDoelan opened #104 "Image preview not displayed after upload when using previewUsing()"
I’m using a cropped version of the uploaded image in `->previewUsing('cropped')`.
The problem is that shortly after uploading the image, the preview is not shown. Maybe because it is not available at this time?
If so, maybe you need to refresh the previews after the conversions are ready …

[2020-12-01 08:41] JonathanDoelan opened #105 "Ability to disallow read/update/delete attached media in the details view"
I don’t want to read/update/delete attached media in the details view.

This is why:
- If a user has only read access for a resource with attached media, this user will be able to detach/read/delete the media
- If for example an image is **required** in a resource, you can detach it from the details view. That’s not good …

First, I thought we can handle this via policies, but the problem is that

[2020-12-02 10:35] JonathanDoelan commented on #101
[https://github.com/laravel/nova-issues/issues/3095#issuecomment-737142016](https://github.com/laravel/nova-issues/issues/3095#issuecomment-737142016)

[2020-12-02 15:35] #101 closed

[2020-12-02 15:35] dmitrybubyakin commented on #101
@JonathanDoelan Thank you. Fixed.

[2020-12-02 16:08] #100 closed

[2020-12-02 16:09] dmitrybubyakin commented on #100
@JonathanDoelan Could you please check it out? The master branch.

[2020-12-02 16:14] dmitrybubyakin commented on #104
@JonathanDoelan You can do something like this:

[code]

And then:

[code]

[2020-12-02 17:20] JonathanDoelan commented on #100
Yes, it works. Nice, thx!

[2020-12-02 17:51] JonathanDoelan commented on #104
@dmitrybubyakin Thank you! Yes, it works!

Why not making this the default behaviour?

[2020-12-03 09:42] dmitrybubyakin commented on #104
@JonathanDoelan I'll add this to docs.

[2020-12-17 22:16] steven-backerclub opened #107 "Support PHP 8"
Would be great if we could watch the [Nova PHP 8 Support ticket](https://github.com/laravel/nova-issues/issues/3087) and when ready, include the new version here as well (something like `"php": "^7.4|^8.0"`) -- assuming the new version is acceptable in this package.

[2020-12-24 07:59] jay2238 opened #108 "Replace File Issue"
When I try to replace the image then the image not store in s3

Medialibrary::make('Avatar', 'profile_image', 's3')
        ->previewUsing(function ($media) {
            return $media->getTemporaryUrl(now()->addMinutes(5));
        })
        ->autouploading()
        ->single()
        ->withMeta([
            'indexPreviewClassList' => 'rounded w-8 h-8 ml-2',
            'detailsPreviewClassLis

[2021-01-12 09:50] vesper8 opened #109 "when viewing (eye icon) cannot get Media Conversions and Media Download URL to work with S3"
I am using S3 with private links. I have gotten the previews and downloads to work by using

[code]

However when clicking on the eye icon to view the media. The Media Conversions are not signed so they end up being broken images. And also the Media Download URL is also not signed and so is also not working should you decide to copy/paste it

Do you know how I can get these to also work with `->ge

[2021-01-12 13:03] dmitrybubyakin commented on #109
@vesper8 Hi. Have a look https://spatie.be/docs/laravel-medialibrary/v9/advanced-usage/generating-custom-urls

Or you can extend [this](https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/src/Fields/GeneratedConversions.php#L22) field if you don't want to use custom image generator.

If you extend this class you also need to use custom fields instead of default ones. https://gith

[2021-01-12 13:28] vesper8 commented on #109
@dmitrybubyakin Thank you for the links. It's all a bit confusing though, since S3 with private links is a fairly popular usage case it would be nice if you could add an example to the readme that has everything working

[2021-01-12 13:41] vesper8 commented on #109
I was using a custom url generator so I just added this conditional to it and it works

[code]

[2021-01-12 13:43] dmitrybubyakin commented on #109
@vesper8  Nice solution!

[2021-01-21 16:02] JonathanDoelan opened #110 "Croppable-feature deletes tmp folder on production server!"
Everything works fine on my local machine, but when deploying to our production server, applying the croppable-feature as well as "regenerating" through your UI causes some serious issue:

The temp-directory (sys_temp_dir, upload_tmp_dir) well be deleted. How can that be possible? Not sure if it is a problem with `Spatie\Image\GlideConversion::save()` or with your implementation. The thing is, tha

[2021-01-22 10:02] dmitrybubyakin commented on #110
@JonathanDoelan Hi. I think this issue is related to https://github.com/spatie/laravel-medialibrary

[2021-01-26 08:00] JonathanDoelan commented on #110
Solved with [https://github.com/spatie/image/pull/118](https://github.com/spatie/image/pull/118)

[2021-01-26 08:00] #110 closed

[2021-02-14 20:51] steven-fox commented on #107
Hi @dmitrybubyakin. Nova officially has support for PHP8 as of January 5th. Do you think it's safe to push a new release tag? I see you already have php 8 in the composer file on the master branch.

[2021-02-15 10:38] dmitrybubyakin commented on #107
@steven-fox Forgot to release it. Thanks for reminding me.

[2021-02-16 20:57] steven-backerclub commented on #107
You're welcome!

[2021-02-16 20:57] #107 closed

[2021-03-01 08:07] zareismail opened #111 "N+1 query"
Hi. Thanks for the amazing package.

But there is a bug that causes the `N+1` query on the index view. The default `mediaOnIndex` callback:

[code]

Do not check the loaded media relationship. This causes `N+1` query on index view that can be changed like the below:

[code]

[2021-03-02 14:07] bendbot opened #112 "Поддержка полей в Tools в частности пакета Nova Settings"
Возможна ли поддержка поля Medialibrary для [Laravel Nova Tools](https://nova.laravel.com/docs/3.0/customization/tools.html), пока конкретно для пакета [Nova Settings](https://github.com/optimistdigital/nova-settings)?
Судя по всему проблемы начинаются с запроса, так как указывается не существующий ресурс. Как это можно обойти?

Видно, что получить или загрузить изображение не получается, так как

[2021-03-02 14:08] dmitrybubyakin commented on #111
@zareismail Hi. You can pass a custom media resolver to `mediaOnIndex` https://github.com/dmitrybubyakin/nova-medialibrary-field#mediaonindex

[2021-03-02 14:51] zareismail commented on #111
Yeah. I know. But I think this default value is wrong and many developers will never notice it

[2021-03-02 14:52] dmitrybubyakin commented on #112
@bendbot Возможно, но пока что не планирую добавлять поддержку.

[2021-03-02 15:12] dmitrybubyakin commented on #111
@zareismail Does limit work with the eager loading?

[2021-03-02 16:53] zareismail commented on #111
I think, no. you can change it like this:

[code]

[2021-03-02 17:29] dmitrybubyakin commented on #111
@zareismail Thank you. I'll think about that.

[2021-03-03 18:00] #112 closed

[2021-03-03 18:43] bendbot opened #113 "Множественный выбор и отключение подтверждения при удалении"
Хорошо бы добавить возможность множественного выбора для некоторых действий
- Удаление (очень не хватает)
- Перегенерация (не обязательно)
- Скопировать ссылку (не обязательно)

Также очень раздражает подтверждение при удалении, можно было бы **добавить возможность отключения**.

**Еще чтобы не создавать лишних тем:**
1. Почему бы не добавить метод указания имени файла [по примеру ](https://github

[2021-03-04 06:03] dmitrybubyakin commented on #113
@bendbot спасибо за идеи, приму к сведению когда буду заниматься след. версией

[2021-03-04 06:05] dmitrybubyakin commented on #108
@jay2238 Is this still a problem?

[2021-03-07 12:10] priithansen commented on #45
Just stumbled on the same thing and I think I got it mostly working by implementing HasMedia on the main model and overriding media() function to retrieve the related resource.

[code]

[2021-03-09 12:53] dmitrybubyakin commented on #45
@priithansen Nice solution!

[2021-03-20 16:02] JonathanDoelan opened #115 "How to change the order of existing images/files?"
If I click on the button that selects existing media, I want the list ordered by the last updated.

How to change the order?

[2021-03-22 06:44] dmitrybubyakin commented on #115
@JonathanDoelan https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/src/Fields/Medialibrary.php#L102

[2021-03-22 07:45] JonathanDoelan commented on #115
@dmitrybubyakin Thx! Did not see that ;)

[2021-03-22 07:45] #115 closed

[2021-03-24 04:42] moustafaart4muslim opened #116 "Automatically open custom properties modal after choosing an image #246"
Can't find a way to automatically open custom properties modal after choosing an image.

[2021-03-24 05:48] dmitrybubyakin commented on #116
@moustafaart4muslim Could you please provide more details?

[2021-03-24 06:18] moustafaart4muslim commented on #116
Thank you for your fast reply.

What I'm trying to do, is to make the custom properties modal (Feilds modal )automatically open after choosing  a media  file, To force the user  to fill these fields(custom preoprties).

In another way, I want to trigger click on the (edit media button) when the user chooses an image.

[2021-03-24 06:27] dmitrybubyakin commented on #116
@moustafaart4muslim Do you want the user to fill these fields before or after uploading?

[2021-03-24 06:29] moustafaart4muslim commented on #116
I prefer before uploading.
@dmitrybubyakin

[2021-03-24 06:30] dmitrybubyakin commented on #116
@moustafaart4muslim There is no ability to fill the fields before uploading.

[2021-03-24 06:35] moustafaart4muslim commented on #116
So how can I achieve this after uploading?
@dmitrybubyakin

[2021-03-24 06:48] dmitrybubyakin commented on #116
@moustafaart4muslim Right now - you cannot. It requires some customisation.

[2021-03-24 11:17] moustafaart4muslim commented on #116
OK, but there is a problem may be considered related to  this request.
I can create the resource without setting the fields that are set to have the (required) rule, I think this have to has  a fix, either by forcing the modal to open just after upload to force user to enter the required fields, or by processing the required validation when the clicks on create resource.

@dmitrybubyakin

[2021-03-24 11:43] dmitrybubyakin commented on #116
@moustafaart4muslim I'll try to cover this in the next release. Thank you for the idea.

[2021-03-24 15:08] moustafaart4muslim opened #117 "When I create a new medialibrary with the single attribute, it can hold multiple files"
I have created a single field as follows:
[code]

Then I choose file to upload, then click replace file and choose a new  one, it doesn't replace the old file, but it's added to it as if it's a multiple images field.

[2021-03-24 15:10] dmitrybubyakin commented on #117
@moustafaart4muslim https://spatie.be/docs/laravel-medialibrary/v9/working-with-media-collections/defining-media-collections#single-file-collections

[2021-03-24 15:37] #117 closed

[2021-04-06 03:49] martin-ro opened #118 "Methods not working in Flexible content"
Hi,

thanks for the great package!

I use Medialibrary fields within [Flexible content](https://github.com/whitecube/nova-flexible-content) but methods like `resolveMediaUsing`, `downloadUsing`, `attachUsing` etc. are not working at all. Seems like these methods are just ignored.

Example:

This works
`app\Nova\Page.php`

[code]

This does not work
`app\Nova\Page.php`

[code]

`app\Nova\Flexible\L

[2021-04-06 04:28] dmitrybubyakin commented on #118
@martin-ro Hi! Could you please try extending this class https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/src/Integrations/NovaFlexibleContent/MedialibraryFieldLayout.php?

[2021-04-06 08:49] martin-ro commented on #118
Yeah, tried that before and the behavior seems to be the same.

[2021-04-06 14:11] dmitrybubyakin commented on #118
@martin-ro Ok. I'll try to fix that over the weekend.

[2021-05-11 01:31] martin-ro opened #123 "Help with testing attachable media"
I'm trying to get a test working but can't really figure out why it fails. Attaching media to an existing model doesn't work in my test (manually it does). Probably just something stupid I'm missing here.

This is my test:

[code]

[code]

[2021-05-11 04:51] dmitrybubyakin commented on #123
@martin-ro Could you share the error log?

[2021-05-11 06:28] dmitrybubyakin commented on #123
@martin-ro It's hard to help without seeing the logs.

[2021-05-11 07:04] martin-ro commented on #123
Yeah, I know.. that's kinda why I'm stuck. I ran the test with logging, here is the result:

[code]

not really helpful.. I know.

[2021-05-24 00:51] martin-ro commented on #118
Hi @dmitrybubyakin, any news on that?

[2021-05-24 01:42] martin-ro commented on #118
Also just noticed that `->fields(function...` doesn't work.

[2021-05-24 05:01] dmitrybubyakin commented on #118
@martin-ro Hi. Still don't have time for this project

[2021-06-23 01:05] martin-ro opened #126 "Fallback url"
When using a fallack url no image is displayed. For example on a model like so:

[code]

The image field is blank. I also wasnt able to get it to work with the `previewUsing` and `mediaOnIndex` methods.

Any idea what the issue is? Thanks!

[2021-06-23 05:46] dmitrybubyakin commented on #126
@martin-ro Hi. Looks like it's a bug. I'll look into it.

[2021-07-05 09:45] nimisham opened #127 "Delete image from s3"
I am using s3 to upload images and preview it using temporary urls.
But when we try to delete images facing issue like attached

![image](https://user-images.githubusercontent.com/29773967/124452050-a904bd80-dda3-11eb-9dd6-9bbbe27cb698.png)

In short we don't have coumn in our resource.. we are managing it using spatie media library (media table)

[2021-07-05 10:06] dmitrybubyakin commented on #127
@nimisham Hi! Could you please provide logs?

[2021-07-05 10:11] nimisham commented on #127
hi

please find below Screenshot for error

exception: "Exception"

file: "D:\\nimisha\\xampp\\htdocs\\rentry\\vendor\\dmitrybubyakin\\nova-medialibrary-field\\src\\MedialibraryFieldResolver.php"

line: 45

message: "Field with attribute `media` is not found."

Thanks and Regards

Nimisha Molia
-----------------------------------------------------------------------------------------
P          

[2021-07-05 10:22] dmitrybubyakin commented on #127
@nimisham Do you use any plugins? Or maybe this field is conditional?

[2021-07-05 10:23] dmitrybubyakin commented on #127
The error says there is no `media` field within fields of your resource.

[2021-07-05 10:24] nimisham commented on #127
This is line of code that Iam using inside nova tab.. no we are not usinf any condition here

` Medialibrary::make('Images','image_gallery','s3')
                ->maxSizeInBytes(1024*1024*50)//in bytes
                ->sortable()
                ->previewUsing(function (Media $media) {
                    return $media->getTemporaryUrl(now()->addMinutes(5));
                })`
![image](https://

[2021-07-05 10:26] dmitrybubyakin commented on #127
@nimisham Looks like this package doesn't support Nova Tabs.

[2021-07-05 10:27] dmitrybubyakin commented on #127
@nimisham This might be helpful https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/src/Integrations/NovaDependencyContainer/ResolveFromDependencyContainerFields.php

[2021-07-05 10:29] dmitrybubyakin commented on #127
@nimisham You can add custom resolver in your service provider like this https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/de739adcc2430dec02a814d4d7c3236dfe490910/tests/Unit/MedialibraryRequestTest.php#L19

[2021-07-05 12:19] nimisham commented on #127
yes it's because of Nova tab

[2021-07-21 15:27] tmartty commented on #12
@dmitrybubyakin @rapitkan was this actually implemented?

[2021-07-26 10:34] dmitrybubyakin commented on #12
@tmartty It was removed.

[2021-08-04 15:02] ErenPhayte opened #133 "Download Controller doesnt use the Media Model you specify in the config"
We have overridden the media model in the config file, to use one of our custom Media models that use a different connection string. What we have found is that when we click on the download icon to download the media that was uploaded, the DownloadController still utilises the base Spatie\MediaLibrary\MediaCollections\Models\Media  instead of utilising the one referenced in the configuration. Whic

[2021-08-04 15:10] #133 closed

[2021-08-06 08:50] oseintow opened #134 "Throws error when used in an Action"
Can this be used in an action?

I get `Field with attribute document is not found.` when used in an action.

[2021-08-07 06:18] dmitrybubyakin commented on #134
@oseintow This field cannot be used in actions.

[2021-08-11 07:07] bilogic opened #135 "Show multiple images in `Index`"
Hi!

For multiple images, possible to show like GitHub in the `Index` view? Perhaps limit to 8? Or make it definable and add the count behind? Thank you!

![image](https://user-images.githubusercontent.com/946010/128984591-9c727778-0ecf-47c4-8f80-3d818f7920e3.png)

[2021-08-11 07:21] dmitrybubyakin commented on #135
@bilogic Hi! It's possible.
https://github.com/dmitrybubyakin/nova-medialibrary-field#mediaonindex
https://github.com/dmitrybubyakin/nova-medialibrary-field#preview-customization

[2021-08-11 07:26] bilogic commented on #135
Haha nice! Got it! `mediaOnIndex(...)`

Thank you!

[2021-08-11 07:34] bilogic commented on #135
@dmitrybubyakin

Possible to "+ X" in the index view? I can't see how to do it in `mediaOnIndex` or `withMeta`

[2021-08-11 07:37] dmitrybubyakin commented on #135
@bilogic You need to override the `<index-nova-medialibrary-field/>` component.

[2021-08-11 17:35] bilogic commented on #135
I see, ok thanks. I'm totally unfamiliar with `vue` and very new to Nova.

[2021-08-13 00:49] bilogic opened #138 "medialibrary belongsTo field"
Hi,

I was wondering if it makes sense to include a belongsTo field that will show medialibrary images from a foreign table in `index` view. Thank you.

[2021-08-13 05:20] dmitrybubyakin commented on #138
@bilogic It might be your own implementation. This package relays this method https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/master/src/Fields/Medialibrary.php#L358

[2021-08-13 05:38] bilogic commented on #138
I see, thanks! Let me give it a shot.

[2021-08-25 12:28] bilogic opened #140 "Add `->defaultCollection()`"
Hi,

The issue is that on the frontend blade, `->getMediaUrl()` does not work unless a collection name is provided.

This is because Spatie uses `default` as collection name if one is not specified. However, this package will use 'name' from `::make('name')`, and I understand why.

My suggestion is to add `->defaultCollection()` to prevent this package from using 'name'. This will then allow `getM

[2021-08-25 12:33] dmitrybubyakin commented on #140
@bilogic Good point. I'll add that method.

[2021-08-25 14:08] bilogic opened #141 "Using a thumbnail instead of original image"
Hi,

Is there a way to specify using a thumbnail in `index`, i find that it currently loads the original image. Thank you.

[2021-08-25 14:10] dmitrybubyakin commented on #141
@bilogic https://github.com/dmitrybubyakin/nova-medialibrary-field#previewusing

[2021-08-25 15:13] bilogic commented on #141
Beautiful! Thanks! Is there a built-in way to show the original image in a lightbox when clicked?

[2021-08-25 15:15] dmitrybubyakin commented on #141
@bilogic You need to override the index field.

[2021-08-25 15:23] bilogic commented on #141
Ok, got it. Thank you.

[2021-08-26 07:22] #141 closed, assigned to nobody

[2021-09-01 07:51] bilogic commented on #126
Hi, any idea where the issue might be? I can try to find a solution.

[2021-09-03 08:33] sebsel opened #142 "Reuse of `->sortable()` creates broken sorting on index"
According to the documentation, we can do `->sortable()` on the field, to make the Media draggable / sortable while editing.

https://github.com/dmitrybubyakin/nova-medialibrary-field#sorting

By reusing this property, the Field is marked as sortable, thus Laravel Nova will render arrows on the index page.

![image-9](https://user-images.githubusercontent.com/16517999/131975627-fa7cc2f6-93ac-4457-

[2021-09-03 09:02] dmitrybubyakin commented on #142
@sebsel Hi. Yes, going to rename this. Thanks.

[2021-09-15 10:53] bilogic commented on #126
@dmitrybubyakin

Is there where the problem might be? https://github.com/dmitrybubyakin/nova-medialibrary-field/blob/afaa894ddde69f0006d355f18c0bf8bf9811f8b9/resources/js/components/Medialibrary/MediaPreview.vue#L31-L37

[2021-09-15 11:03] dmitrybubyakin commented on #126
@bilogic I think it's ok. It might be something else.

[2021-09-15 11:04] bilogic commented on #126
I see.. sorry I don't know Vue, can't help much.

[2021-10-01 19:29] petarvasilev91 opened #143 "Adding a default image"
I am integrating this field into a project of mine but I need to be able to set a default image for when someone deletes the current images or creates a model without an image. My guess is that this shouldn't be too difficult to implement, maybe I can do a pull request but I've downloaded the code and installed the dependencies but when I run **./vendor/bin/phpunit** it doesn't run all the tests b

[2021-10-03 07:40] bilogic commented on #143
I think it's a duplicate of #126

[2021-10-03 12:39] dmitrybubyakin commented on #143
@petethewizard `PDOException: could not find driver` - I think it means you don't have sqlite or mysql PDO driver installed.

[2021-10-04 18:02] petethewizard commented on #126
This is method is not even available in my version, for some reason, and downloaded this a few days ago. Is this available only on the dev branch?

[2021-10-04 18:34] petethewizard commented on #126
I figured that useFallbackUrl is media-library specific method. So, I can, also, testify that it doesn't use the fallback URL when you delete an image.

[2021-10-04 20:07] petethewizard commented on #126
@dmitrybubyakin I couldn't find the code, but could the problem be that **getMedia** returns an empty collection when there is no media even when using **useFallbackUrl.** I think that you have to make a call to **getFirstMediaUrl($collectionName)** to get the fallback url.

[2021-10-06 02:03] bilogic commented on #126
@dmitrybubyakin I also managed to get `fallbackUrl` working and have the same conclusion as @petethewizard. Don't think this is a bug.

[2021-11-27 17:48] bilogic opened #146 "Display filename in Index"
Hi,

Possible to display the filename or `file_name` of the media in Index view?

[2021-11-29 09:53] dmitrybubyakin commented on #146
@bilogic https://github.com/dmitrybubyakin/nova-medialibrary-field#tooltip

[2022-02-16 19:12] seobrain opened #150 "MediaLibrary v10 support"
Hi,

Migration to Laravel 9 requires MediaLibrary 10 package, which in its turn is not yet supported by your awesome package.

Could you please bump dependencies support for ML10?

Thanks in advance!

[2022-02-17 08:43] dmitrybubyakin commented on #150
@seobrain Hi! Could you please check out a new version?

[2022-02-17 09:26] seobrain commented on #150
Hey,

Works like a charm now, thanks a bunch for your prominent support!

[2022-02-17 09:26] #150 closed

[2022-02-24 12:49] NoahNxT opened #152 "useFallbackPath(); + Required not working"
Hi,
is there a way to add a method to your MediaLibraryField where we can set the FalbackImage?

Also,
For some reason I can't get it to work to require the user to at least upload 1 image, otherwise the validations should fail.

[2022-03-24 22:30] vesper8 opened #154 "[Feature Request] Let us easily add our own custom actions when clicking the 3 little dots"
First of all, I love your package! Super useful! Thank you so much for making it.. love all the features.

Right now when you click the 3 little dots on the detail page, you get extra actions such as 'Copy url' and 'regenerate'

I'd love to be able to add my own custom actions here.

For example I'd like to add an action `Yandex Reverse Image Search` which would open a new tab with the link `https

[2022-04-07 08:59] illambo opened #157 "Nova 4 support"
Any plan about support for laravel nova 4? Thanks

[2022-04-07 10:57] dmitrybubyakin commented on #157
@illambo Hi, don't really have time to support this package

[2022-04-07 11:20] illambo commented on #157
Ok thanks

[2022-04-22 21:16] ChristianPavilonis commented on #157
I see [this fork](https://github.com/aemaddin/nova-medialibrary-field) with a few commits for Nova 4.
You may want to try that out.

[2022-04-25 03:18] theimerj commented on #157
Hello, I will open a PR in the following days. I am getting quite close [here](https://github.com/theimerj/nova-medialibrary-field). Apart from other stuff I still have to make generated conversions work, fix tests and so on. But if someone wants to try it with Nova 4 installation, the crucial parts are working ok now.

[2022-05-01 10:01] sp4r74cus commented on #157
hi @theimerj
Thank you for the efforts to make this compatible with Nova 4!

I couldn't find where to open an issue in your fork. so i'll add it here.

the id of the field is not generated correctly, it's `id="inputundefined"` and when having multiple fields in the same resource only the first one works.
<img width="1740" alt="Screen Shot 2022-05-01 at 12 54 48" src="https://user-images.githubuser

[2022-05-01 11:33] theimerj commented on #157
Hello @sp4r74cus, I opened the issue tab in the [fork](https://github.com/theimerj/nova-medialibrary-field), so we can move the conversation there.

[2022-05-03 15:06] theimerj commented on #157
Hello everyone, the PR #160 just landed. Please help out with testing and adjustments, if you can. It is not 100% done, it still needs quite some polishing.

@dmitrybubyakin could you please remove the #159 i accidentally created from wrong branch? Thank you.

[2022-05-24 07:47] jacob418 opened #161 "Problem with UUID primary keys for models"
In my project I'm using UUID for the primary keys of models, therefore I had to change the `media` table to use `uuidMorphs` instead of normal `morphs`. `\DmitryBubyakin\NovaMedialibraryField\Http\Requests\MedialibraryRequest::resourceExists` checks weather a model exists by testing weather the param `resourceId` is numeric. Since UUID's are not numeric `\DmitryBubyakin\NovaMedialibraryField\Trans

[2022-05-24 08:07] dmitrybubyakin commented on #161
@jacob418 UUID as PK is not supported

[2022-05-24 08:17] #161 closed

[2022-08-01 10:31] tmartty commented on #157
any news on this?

[2022-08-01 10:40] theimerj commented on #157
Actually yes, [@kreejzak](https://github.com/kreejzak) is looking into it and we will merge soon.

[2022-09-30 01:12] marlocorridor opened #163 "Implementing `previewUsing` to work on `attachExisting`"
We are using `previewUsing` to use a `conversion` file for preview.
![image](https://user-images.githubusercontent.com/5117811/193168531-c13579a5-1380-44e5-98a5-bb3bc039d292.png)

But on "use existing" button, preview does not work.
![image](https://user-images.githubusercontent.com/5117811/193168434-744bd976-5324-4b38-a65e-b13f78a12d73.png)

_We can't seem to find on documents and we are still lo

[2022-09-30 02:31] marlocorridor commented on #163
MediaUploadingListItem.vue

[code]

[code]

[2022-09-30 03:01] marlocorridor commented on #163
As of inspecting, `previewUrl` for `attacheExisting` is not using `->previewUsing('preview')`

[code]

[2022-09-30 03:16] marlocorridor commented on #163
[code]

[2022-09-30 03:18] marlocorridor commented on #163
This seems to work, we just need to find where to get the `conversion` value

[2022-09-30 03:23] marlocorridor commented on #163
![image](https://user-images.githubusercontent.com/5117811/193183298-daebdf2a-d0b9-48f4-8f82-945d9c173000.png)

[2022-09-30 05:59] marlocorridor commented on #163
Preparing the pull request

[2022-10-03 08:41] 4n70w4 opened #165 "Argument #1 ($model) must be of type Spatie\\MediaLibrary\\HasMedia"
Hi! I just try code from examples:

[code]

and get error on edit form:

[code]

[2022-10-03 15:10] 4n70w4 commented on #165
Okay. Need add ` implements HasMedia` and `use InteractsWithMedia;` to Model.

May be need add handling this case and show userfriendly message?

[2022-10-04 11:24] 4n70w4 opened #167 "How to not upload chosen file"
Hi! For example I chose 2 files to upload. Then I changed my mind and want to upload only one of those files and want not to upload the other one. But I don't see a button to remove one of the files. Help.

![image](https://user-images.githubusercontent.com/38257723/193806692-f1cec278-1d32-43e2-ac87-e90a684fb0a6.png)

[2022-10-04 15:11] 4n70w4 opened #168 "Don't works upload file from create form but work in edit form"
Hi!

[code]

[code]

If I just open create form I get error:

[code]

[code]

If I try to upload file by created form I also get the same error.

[code]

[code]

Generated url's contain `undefined` as `resourceId`

[2022-10-04 15:21] 4n70w4 commented on #168
Also I get the same error if I try to upload file by edit form (but only in first time):

[code]

[code]

File uploaded successfully, but display error.

No errors if I again try to upload file by edit form (without submit and without refresh page).

[2022-10-05 15:18] zsoltgyure commented on #161
Hi.

You can easily solve this issue by replacing the `MedialibraryRequest` class in the container.

Create a request class
[code]

Extend the original class and overwrite the `resourceExists` method
[code]

Replace the class in the container in your `AppServiceProvider`
[code]

[2022-10-05 17:46] jacob418 commented on #161
@zsoltgyure ty for the tip, I hope i get to try it out some day.

[2022-10-20 12:05] Anticom opened #169 "`attachExisting` doesn't transfer custom properties"
When attaching existing media the custom properties don't get transferred over to the new media.

I thought I could solve this by implementing my own `attachCallback`, however it always gets passed an `UploadedFile`, even when using existing media.

Is it feasible to implement an `attachExistingCallback` etc. that's getting passed the existing `Media` instance instead of an `UploadedFile` and util

[2022-10-24 23:27] uzdeveloper1 commented on #168
public function handle(Request $request, Closure $next)
    {

        if ($request->route()->hasParameter('resourceId') && $request->resourceId === 'undefined') {

           $request->route()->setParameter('resourceId', null);
        }
        return $next($request);
    }

[2022-10-24 23:27] uzdeveloper1 commented on #168
Add this middleware

[2022-11-29 13:12] MostafaHassan1 opened #172 "Add support for nova 4 depensOn function"
Can we add support for the new nova 4 feature dependsOn, it allows the field to be dependable on another field and do other stuff like hiding or controlling its data